html,
body {
    height: 100%;
}

body {
    /*background-color: lightskyblue;
    background-color: lightsteelblue;
    background-color: paleturquoise;
    background-color: lightblue;
    background-color: powderblue;
    background-color: lightcyan;
    background-color: #fcfef1;*/
    background-color: lavender;
}

cuerpo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

h1 {
    color: black;
}
