html {
    height: 100%;
    font-size: 14px;
}

body {
    height: 100%;
    /*background-color: #fcfef1;*/
    /*background-color: lavender;*/
    background-color: white;
}

cuerpo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu {
    margin-right: 100px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: black;
    /*background-color: gainsboro;*/
}

footer p {
    margin-bottom: .25rem;
}

h1 {
    color: black;
}

.fondo_carousel {
    fill: grey;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-caption h1 {
    color: white;
}

.carousel-item {
    height: 20rem;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 50%;
    height: 20rem;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-divider {
    margin: 2rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

/*****************************************************************************/
/****  RESPONSIVE CSS  *******************************************************/
/*****************************************************************************/

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    html {
        font-size: 16px;
    }

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media (min-width: 40em) {

    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
