{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Anuncio{% endblock %}

{% block contenido %}
<div class="container">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-5 mb-5">Oferta</h1>
			<form action="/PublicarAnuncio/" name="anuncio" method="POST" onsubmit="return validateForm()">

				<div class="form-group">
					<label for="titulo">Título</label>
					<input type="text" class="form-control" id="titulo" name="txtTitulo"
						{% if session['usertype'] == 'Empleado' %} readonly {% endif %}>
				</div>

				<div class="form-group mb-5">
					<label for="descripcion">Descripción</label>
					<textarea class="form-control" id="descripcion" cols="20" rows="10" name="txtDescripcion"
						{% if session['usertype'] == 'Empleado' %} readonly {% endif %}></textarea>
				</div>

				<!--<div class="form-inline mb-4">
					<label for="calificacion">Calificación mínima aceptada </label>
					<div class="form-group mx-sm-3 mb-2">
					<select class="form-control" id="calificacion">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
					</div>
				</div>-->

				<div class="d-block my-3 mb-5">
					<p class="mb-3">Tipo de trabajo</p>
					<div class="custom-control custom-radio ml-5">
						<input id="hora" name="radioDisponibilidad" value="hora" type="radio"
							class="custom-control-input" checked="" required=""
							{% if session['usertype'] == 'Empleado' %} disabled {% endif %}>
						<label class="custom-control-label" for="hora">Por hora</label>
					</div>
					<div class="custom-control custom-radio ml-5">
						<input id="jornada" name="radioDisponibilidad" value="jornada" type="radio"
							class="custom-control-input" required="" {% if session['usertype'] == 'Empleado' %} disabled
							{% endif %}>
						<label class="custom-control-label" for="jornada">Por jornada</label>
					</div>
					<div class="custom-control custom-radio ml-5">
						<input id="tarea" name="radioDisponibilidad" value="tarea" type="radio"
							class="custom-control-input" required="" {% if session['usertype'] == 'Empleado' %} disabled
							{% endif %}>
						<label class="custom-control-label" for="tarea">Por tarea puntual</label>
					</div>
					<div class="custom-control custom-radio ml-5">
						<input id="mes" name="radioDisponibilidad" value="mes" type="radio" class="custom-control-input"
							required="" {% if session['usertype'] == 'Empleado' %} disabled {% endif %}>
						<label class="custom-control-label" for="mes">Por mes</label>
					</div>
				</div>

				<div class="form-group row mb-5">
					<div class="col-form-label col-sm-10 pt-0">Tareas a realizar</div>
					<div class="col-sm-10">
						<div class="custom-control custom-checkbox ml-5">
							<input type="checkbox" class="custom-control-input" id="oficina" name="chkOficina"
								{% if session['usertype'] == 'Empleado' %} disabled {% endif %}>
							<label class="custom-control-label" for="oficina">Oficina</label>
						</div>
						<div class="custom-control custom-checkbox ml-5">
							<input type="checkbox" class="custom-control-input" id="cocinar" name="chkCocinar"
								{% if session['usertype'] == 'Empleado' %} disabled {% endif %}>
							<label class="custom-control-label" for="cocinar">Cocinar</label>
						</div>
						<div class="custom-control custom-checkbox ml-5">
							<input type="checkbox" class="custom-control-input" id="banios" name="chkLimpBanios"
								{% if session['usertype'] == 'Empleado' %} disabled {% endif %}>
							<label class="custom-control-label" for="banios">Limpieza de baños</label>
						</div>
						<div class="custom-control custom-checkbox ml-5">
							<input type="checkbox" class="custom-control-input" id="cocinas" name="chkLimpCocinas"
								{% if session['usertype'] == 'Empleado' %} disabled {% endif %}>
							<label class="custom-control-label" for="cocinas">Limpieza de cocinas</label>
						</div>
						<div class="custom-control custom-checkbox ml-5">
							<input type="checkbox" class="custom-control-input" id="dormitorios"
								name="chkLimpDormitorios" {% if session['usertype'] == 'Empleado' %} disabled
								{% endif %}>
							<label class="custom-control-label" for="dormitorios">Limpieza de dormitorios</label>
						</div>
						<div class="custom-control custom-checkbox ml-5">
							<input type="checkbox" class="custom-control-input" id="ninios" name="chkCuidadoNinios"
								{% if session['usertype'] == 'Empleado' %} disabled {% endif %}>
							<label class="custom-control-label" for="ninios">Cuidado de niños</label>
						</div>
						<div class="custom-control custom-checkbox ml-5">
							<input type="checkbox" class="custom-control-input" id="bebes" name="chkCuidadoBebes"
								{% if session['usertype'] == 'Empleado' %} disabled {% endif %}>
							<label class="custom-control-label" for="bebes">Cuidado de bebés</label>
						</div>
						<div class="custom-control custom-checkbox ml-5">
							<input type="checkbox" class="custom-control-input" id="mayores" name="chkCuidadoAdultos"
								{% if session['usertype'] == 'Empleado' %} disabled {% endif %}>
							<label class="custom-control-label" for="mayores">Cuidado de adultos mayores</label>
						</div>
						<div class="custom-control custom-checkbox ml-5">
							<input type="checkbox" class="custom-control-input" id="mascotas" name="chkCuidadoMascotas"
								{% if session['usertype'] == 'Empleado' %} disabled {% endif %}>
							<label class="custom-control-label" for="mascotas">Cuidado de mascotas</label>
						</div>
						<div class="custom-control custom-checkbox ml-5">
							<input type="checkbox" class="custom-control-input" id="hogar" name="chkHogar"
								{% if session['usertype'] == 'Empleado' %} disabled {% endif %}>
							<label class="custom-control-label" for="hogar">Otras tareas</label>
						</div>
					</div>
				</div>
				<!--	<input id="hora" name="radioDisponibilidad" value="hora" type="radio"
							class="custom-control-input" checked="" required=""
							{% if session['usertype'] == 'Empleado' %} disabled {% endif %}>
						<label class="custom-control-label" for="hora">Por hora</label>
					-->

				<div class="d-block my-3 mb-4">
					<p class="mb-3">Búscas a alguien con experiencia?</p>
					<div class="custom-control custom-radio ml-5">
						<input id="experienciaSi" name="radioExperiencia" type="radio" class="custom-control-input"
							checked="" value="experienciaSi" required="" {% if session['usertype'] == 'Empleado' %} disabled {% endif %}>
						<label class="custom-control-label" for="experienciaSi">Si</label>
					</div>
					<div class="custom-control custom-radio ml-5">
						<input id="experienciaNo" value="experienciaNo" name="radioExperiencia" type="radio" class="custom-control-input"
							required="" {% if session['usertype'] == 'Empleado' %} disabled {% endif %}>
						<label class="custom-control-label" for="experienciaNo">No es necesario</label>
					</div>
				</div>

				<div class="form-group row">
					<label for="colFormLabelLg" class="col-sm-10 col-form-label col-form-label">Pago por hora
						ofrecido</label>
					<div class="col-sm-3 mb-4">
						<div class="input-group mb-2">
							<div class="input-group-prepend">
								<span class="input-group-text">$</span>
							</div>
							<input class="form-control" type="text" placeholder="" id="pagoPorHora" name="pagoPorHora"
								{% if session['usertype'] == 'Empleado' %} readonly {% endif %}>
						</div>
					</div>
				</div>


				{% if session['usertype'] == 'Empleador' %}
				{% if not opcion == 'Alta' %}
				<div class="d-block my-3 mb-5">
					<p class="mb-3">Estado de la oferta</p>
					<div class="custom-control custom-radio ml-5">
						<input id="estadoActiva" name="radioEstado" type="radio" class="custom-control-input" checked=""
							required="">
						<label class="custom-control-label" for="estadoActiva">Activa</label>
					</div>
					<div class="custom-control custom-radio ml-5">
						<input id="estadoInactiva" name="radioEstado" type="radio" class="custom-control-input"
							required="">
						<label class="custom-control-label" for="estadoInactiva">Inactiva</label>
					</div>
				</div>
				{% endif %}
				<button class="btn btn-success btn-block" type="submit" name="btnGuardar">PUBLICAR ANUNCIO</button>
				<a class="btn btn btn-danger btn-danger btn-block" href="/HomeEmpleadores">CANCELAR</a>
				{% endif %}


				{% if session['usertype'] == 'Empleado' %}
				<a href="/#Contactar" type="button" class="btn btn-warning float-right">Me interesa. ¡Contactar!</a>
				<a href="/Anuncios" type="button" class="btn btn-primary">Volver a las ofertas</a>
				{% endif %}


				{% with messages = get_flashed_messages() %}
				{% if messages %}
				{% for message in messages %}
				<div clas="alert alert-success alert-dismissible fade show" role="alert">
					{{message}}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				{% endfor %}
				{% endif %}
				{% endwith %}
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}