{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Ayuda{% endblock %}

{% block contenido %}
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Ayuda</h1>
            {% if not session['usertype'] %}
            <p class="lead"></p>
            {% endif %}

            {% if session['usertype'] == 'Empleado' %}
            <p class="lead">Formulario de Ayuda del EMPLEADO, debo mostrar acceso a sindicato</p>
            {% elif session['usertype'] == 'Empleador' %}
            <p class="lead">Formulario de Ayuda del EMPLEADOR, debo mostrar acceso a ligas de amas de casa</p>
            {% endif %}

            <form class="form-signin" action="" method="">
                <div class="form-row align-items-center">
                    <div class="col-auto my-1 pb-2">
                        <a class="btn btn-primary my-0 mr-md-auto text-center" href="http://bps.gub.uy"
                            aria-label="">IR</a>
                    </div>
                    <div class="col-auto my-1">
                        <div class="col-auto mr-sm-2">
                            <label for="">Información en BPS</label>
                        </div>
                    </div>

                    <div class="col-auto my-1 pb-2">
                        <a class="btn btn-primary my-0 mr-md-auto text-center" href="http://bps.gub.uy"
                            aria-label="">IR</a>
                    </div>
                    <div class="col-auto my-1">
                        <div class="col-auto mr-sm-2">
                            <label for="">Información en DGI</label>
                        </div>
                    </div>

                    <div class="col-auto my-1 pb-2">
                        <a class="btn btn-primary my-0 mr-md-auto text-center" href="http://bps.gub.uy"
                            aria-label="">IR</a>
                    </div>
                    <div class="col-auto my-1">
                        <div class="custom-control mr-sm-2">
                            <label for="">Ministerio de Trabajo</label>
                        </div>
                    </div>

                    <div class="col-auto my-1 pb-2">
                        <a class="btn btn-primary my-0 mr-md-auto text-center" href="http://bps.gub.uy"
                            aria-label="">IR</a>
                    </div>
                    <div class="col-auto my-1">
                        <div class="custom-control mr-sm-2">
                            <label for="">Ley Nº 18065, IMPO</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}