{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Calificaciones Pendientes{% endblock %}

{% block contenido %}
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Calificaciones pendientes</h1>
            <p class="lead mb-5">Tiene pendiente las siguientes operaciones:</p>

            {% with messages = get_flashed_messages()  %}
            {% if messages %}
            {% for message in messages %}
            <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Mensaje</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>{{ message }}</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
                </div>
                </div>
            </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% set cant_recordatorios = recordatoriosCalificacionesPendientes()|length %}
            {% for recordatorio in recordatoriosCalificacionesPendientes() %}
            {% if session['usertype'] == 'Empleado' %}
            {% if recordatorio.tipo == 1 and recordatorio.destinatario.id == session['id_empleado'] %}
            <form class="mb-3" action="/calificarVinculosPendientes/False" method="POST" name="cal" onsubmit="return validateForm()">
                <div class="container border-top border-bottom border-left border-right border-dark bg-light">
                    <div class="mt-4 ml-5">
                        <h4 class="display-5 font-italic font-weight-bold">{{recordatorio.leyenda}}</h4>
                        <p class="mt-4">
                            <input type="hidden" name="idRecordatorio" value="{{recordatorio.id}}" />
                            <input type="hidden" name="idVinculo" value="{{recordatorio.vinculo.id}}" />
                            <input type="hidden" name="cant_recordatorios" value="{{cant_recordatorios}}" />
                            Vínculo iniciado en <strong>{{recordatorio.vinculo.fecha_inicio.strftime('%d/%m/%Y')}} </strong>
                            {% if recordatorio.vinculo.fecha_fin == None %}
                            hasta <strong>[Vínculo activo]</strong><br>
                            {% else %}
                            hasta <strong>{{recordatorio.vinculo.fecha_fin.strftime('%d/%m/%Y')}}</strong><br>
                            {% endif %}
                            Empleador: <input class="font-weight-bold text-center w-50" disabled type="text" name="empleador" value="{{recordatorio.empleador.nombre}} {{recordatorio.empleador.apellido}}" /><br>
                            <br>
                            Título del Anuncio: <strong>{{recordatorio.anuncio.titulo}}</strong><br>
                            Descripción del Anuncio: <strong>{{recordatorio.anuncio.descripcion}}</strong><br>
                            Fecha del Anuncio: <strong>{{recordatorio.anuncio.fecha_inicio.strftime('%d/%m/%Y')}}</strong>
                        </p>
                        <div class="form-group">
                            <div class="star-rating">
                                <input id="star-5{{recordatorio.vinculo.id}}" type="radio" name="rating{{recordatorio.vinculo.id}}" value="5" />
                                <label for="star-5{{recordatorio.vinculo.id}}" title="5 estrellas">
                                    <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                                <input id="star-4{{recordatorio.vinculo.id}}" type="radio" name="rating{{recordatorio.vinculo.id}}" value="4" />
                                <label for="star-4{{recordatorio.vinculo.id}}" title="4 estrellas">
                                    <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                                <input id="star-3{{recordatorio.vinculo.id}}" type="radio" name="rating{{recordatorio.vinculo.id}}" value="3" />
                                <label for="star-3{{recordatorio.vinculo.id}}" title="3 estrellas">
                                    <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                                <input id="star-2{{recordatorio.vinculo.id}}" type="radio" name="rating{{recordatorio.vinculo.id}}" value="2" />
                                <label for="star-2{{recordatorio.vinculo.id}}" title="2 estrellas">
                                    <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                                <input id="star-1{{recordatorio.vinculo.id}}" type="radio" name="rating{{recordatorio.vinculo.id}}" value="1" />
                                <label for="star-1{{recordatorio.vinculo.id}}" title="1 estrellas">
                                    <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                            </div>
                            <button class="btn btn-success ml-5 mb-2" type="submit" name="btnGuardar">CALIFICAR</button>
                        </div>
                    </div>
                </div>
            </form>
            {% endif %}
            {% elif session['usertype'] == 'Empleador' %}
            {% if recordatorio.tipo == 1 and recordatorio.destinatario.id == session['id_empleador'] %}
            <form class="mb-3" action="/calificarVinculosPendientes/False" method="POST" name="cal" onsubmit="return validateForm()">
                <div class="container border-top border-bottom border-left border-right border-dark bg-light">
                    <div class="mt-4 ml-5">
                        <h4 class="display-5 font-italic font-weight-bold">{{recordatorio.leyenda}}</h4>
                        <p class="mt-4">
                            <input type="hidden" name="idRecordatorio" value="{{recordatorio.id}}" />
                            <input type="hidden" name="idVinculo" value="{{recordatorio.vinculo.id}}" />
                            <input type="hidden" name="cant_recordatorios" value="{{cant_recordatorios}}" />
                            Vínculo iniciado en <strong>{{recordatorio.vinculo.fecha_inicio.strftime('%d/%m/%Y')}} </strong>
                            {% if recordatorio.vinculo.fecha_fin == None %}
                            hasta <strong>[Vínculo activo]</strong><br>
                            {% else %}
                            hasta <strong>{{recordatorio.vinculo.fecha_fin.strftime('%d/%m/%Y')}}</strong><br>
                            {% endif %}
                            Empleado: <input class="font-weight-bold text-center w-50" disabled type="text" name="empleado" value="{{recordatorio.empleado.nombre}} {{recordatorio.empleado.apellido}}" /><br>
                            <br>
                            Título del Anuncio: <strong>{{recordatorio.anuncio.titulo}}</strong><br>
                            Descripción del Anuncio: <strong>{{recordatorio.anuncio.descripcion}}</strong><br>
                            Fecha del Anuncio: <strong>{{recordatorio.anuncio.fecha_inicio.strftime('%d/%m/%Y')}}</strong>
                        </p>
                        <div class="form-group">
                            <div class="star-rating">
                                <input id="star-5{{recordatorio.vinculo.id}}" type="radio" name="rating{{recordatorio.vinculo.id}}" value="5" />
                                <label for="star-5{{recordatorio.vinculo.id}}" title="5 estrellas">
                                    <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                                <input id="star-4{{recordatorio.vinculo.id}}" type="radio" name="rating{{recordatorio.vinculo.id}}" value="4" />
                                <label for="star-4{{recordatorio.vinculo.id}}" title="4 estrellas">
                                    <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                                <input id="star-3{{recordatorio.vinculo.id}}" type="radio" name="rating{{recordatorio.vinculo.id}}" value="3" />
                                <label for="star-3{{recordatorio.vinculo.id}}" title="3 estrellas">
                                    <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                                <input id="star-2{{recordatorio.vinculo.id}}" type="radio" name="rating{{recordatorio.vinculo.id}}" value="2" />
                                <label for="star-2{{recordatorio.vinculo.id}}" title="2 estrellas">
                                    <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                                <input id="star-1{{recordatorio.vinculo.id}}" type="radio" name="rating{{recordatorio.vinculo.id}}" value="1" />
                                <label for="star-1{{recordatorio.vinculo.id}}" title="1 estrellas">
                                    <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>
                            </div>
                            <button class="btn btn-success ml-5 mb-2" type="submit" name="btnGuardar">CALIFICAR</button>
                        </div>
                    </div>
                </div>
            </form>  
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(window).on('load',function(){
        $('#Modal').modal('show');
    });
</script>
{% endblock %}