{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Panel de Control{% endblock %}

{% block contenido %}
<div class="container">
  <div class="jumbotron jumbotron-fluid no-mobile">
    <div class="container">

      <div class="row">
        <div class="col-sm-6">
          <div class="card text-white bg-primary mb-3 text-right" style=" ">
            <div class="card-header text-left">
            Empleadores
            </div>
            <div class="card-body special-card">
              <h6 class="card-text">Cuentas registradas</h6>
              <h3 class="card-title">{{data.ctasEmpleadores}}</h3>
            </div>
            <div class="card-body special-card">
              <h6 class="card-text">Ofertas publicadas</h6>
              <h3 class="card-title">{{data.cantAnuncios}}</h3>
            </div>
            <div class="card-body special-card">
              <h6 class="card-text">Promedio de calificaciones</h6>
              <h3 class="card-title">{{data.promCalificEmpleadores}}</h3>
            </div>
            <div class="card-body special-card">
              <h6 class="card-text">Cuentas cerradas</h6>
              <h3 class="card-title">{{data.ctasCerradasEmpleadores}}</h3>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6">
          <div class="card text-white bg-success mb-3 text-right" style=" ">
            <div class="card-header text-left">Empleados</div>
            <div class="card-body special-card">
              <h6 class="card-text">Cuentas registradas</h6>
              <h3 class="card-title">{{data.ctasEmpleados}}</h3>
            </div>
            <div class="card-body special-card">
              <h6 class="card-text">Postulaciones a empleos</h6>
              <h3 class="card-title">{{data.cantPostulaciones}}</h3>
            </div>
            <div class="card-body special-card">
              <h6 class="card-text">Promedio de calificaciones</h6>
              <h3 class="card-title">{{data.promCalificEmpleados}}</h3>
            </div>
            <div class="card-body special-card">
              <h6 class="card-text">Cuentas cerradas</h6>
              <h3 class="card-title">{{data.ctasCerradasEmpleados}}</h3>
            </div>
          </div>
        </div>
      </div>

      <!-- Datos comunes -->
      <div class="card text-white bg-info mb-3 text-center">
        <div class="card-body">
          <h3 class="card-title">{{data.cantVinculos}}</h3>
          <h6 class="card-text">Vínculos establecidos</h6>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}