{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Panel de Control{% endblock %}

{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-white bg-primary mb-1">
        <div class="card-body">
          <h2 class="card-title">Empleadores</h2>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-success mb-1">
        <div class="card-body">
          <h2 class="card-title">Empleados</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card bg-light mb-1 text-right">
        <div class="card-body">
          <h3 class="card-title">{{data.ctasEmpleadores}}</h3>
          <p class="card-text">Cuentas registradas</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card bg-light mb-1 text-right">
        <div class="card-body">
          <h3 class="card-title">{{data.ctasEmpleados}}</h3>
          <p class="card-text">Cuentas registradas</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card bg-light mb-1 text-right">
        <div class="card-body">
          <h3 class="card-title">{{data.cantAnuncios}}</h3>
          <p class="card-text">Ofertas de trabajo publicadas</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card bg-light mb-1 text-right">
        <div class="card-body">
          <h3 class="card-title">{{data.cantPostulaciones}}</h3>
          <p class="card-text">Postulaciones a empleos ejecutadas</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card bg-light mb-1 text-right">
        <div class="card-body">
          <h3 class="card-title">{{data.promCalificEmpleadores}}</h3>
          <p class="card-text">Promedio de calificaciones</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card bg-light mb-1 text-right">
        <div class="card-body">
          <h3 class="card-title">{{data.promCalificEmpleados}}</h3>
          <p class="card-text">Promedio de calificaciones</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card bg-light mb-1 text-right">
        <div class="card-body">
          <h3 class="card-title">{{data.ctasCerradasEmpleadores}}</h3>
          <p class="card-text">Cuentas cerradas</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card bg-light mb-1 text-right">
        <div class="card-body">
          <h3 class="card-title">{{data.ctasCerradasEmpleados}}</h3>
          <p class="card-text">Cuentas cerradas</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Datos comunes -->

  <div class="card bg-light mb-3 text-center">
    <div class="card-body">
      <h3 class="card-title">{{data.cantVinculos}}</h3>
      <p class="card-text">Vínculos establecidos</p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}