{% extends "page_layout.html" %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Crear Anuncio{% endblock %}

{% block body %}

{% with message = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div clas="alert alert-success alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}


{%block contenido %}

<div class="container my-5 px-5" style="border:3px solid #5bc85c; border-radius: 20px;">  
  <h1 class="text-center">OFERTA</h1>
    <form action="/CrearAnuncio" method="POST">
      
      <form>
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" id="titulo">
        </div>
        
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea class="form-control" id="descripcion" cols="20" rows="10"></textarea>
        </div>
        </br>
        
        <div class="form-inline">
          <label for="calificacion">Calificación mínima aceptada </label>
          <div class="form-group mx-sm-3 mb-2">
            <select class="form-control" id="calificacion">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        </br>



        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Tipo de trabajo</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios1" id="porHora" value="option1" checked>
              <label class="form-check-label" for="gridRadios1">
                Por hora
              </label>
            </div>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios1" id="porJornada" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                  Por jornada
                </label>
              </div>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios1" id="tareaPuntual" value="option1"
                    checked>
                  <label class="form-check-label" for="gridRadios1">
                    Por tarea puntual
                  </label>
                </div>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios1" id="porMes" value="option1" checked>
                    <label class="form-check-label" for="gridRadios1">
                      Por mes
                    </label>
                  </div>
                </div>
                </br>

                <div class="form-group row">

                  <div class="col-form-label col-sm-10 pt-0">Tareas a realizar</div>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="hogar">
                      <label class="form-check-label" for="gridCheck1">
                        Hogar
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="oficina">
                      <label class="form-check-label" for="gridCheck1">
                        Oficina
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="cocinar">
                      <label class="form-check-label" for="gridCheck1">
                        Cocinar
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="banios">
                      <label class="form-check-label" for="gridCheck1">
                        Limpieza de baños
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="cocinas">
                      <label class="form-check-label" for="gridCheck1">
                        Limpieza de cocinas
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="dormitorios">
                      <label class="form-check-label" for="gridCheck1">
                        Limpieza de dormitorios
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="ninios">
                      <label class="form-check-label" for="gridCheck1">
                        Cuidado de niños
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="bebes">
                      <label class="form-check-label" for="gridCheck1">
                        Cuidado de bebés
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="mayores">
                      <label class="form-check-label" for="gridCheck1">
                        Cuidado de adultos mayores
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="mascota">
                      <label class="form-check-label" for="gridCheck1">
                        Cuidado de mascota
                      </label>
                    </div>
                  </div>
                </div>
                </br>

                <div class="sm-40">
                  <label for="experiencia">Búscas a alguien con experiencia?</label>
                  <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="siExperiencia"
                        value="option1">
                      <label class="form-check-label" for="inlineRadio1">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="noNecesario"
                        value="option1">
                      <label class="form-check-label" for="inlineRadio1">No es necesario</label>
                    </div>
                  </div>
                </div>
                </br>

                <div class="form-group row">
                  <label for="colFormLabelLg" class="col-sm-10 col-form-label col-form-label-lg">Cuánto pagas la
                    hora?</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control form-control-lg" id="pagoPorHora" placeholder="$U">
                  </div>
                  </br></br></br>


                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadio" id="activar" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Activar oferta</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadio" id="desactivar" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Desactivar oferta</label>
                  </div>
                  </br></br></br></br>


                  <div class="col-sm-10">
                    <a href="/TusAnuncios" class="btn btn-primary">GUARDAR</a>
                  </div>
      </form>

    </form>
</div>

{% endblock %}

{% endblock %}

{% block scripts %}
{% endblock %}-->