{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Página Principal{% endblock %}

{% block contenido %}
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="text-center mb-4">
                <a class="my-0 mr-md-auto" href="" aria-label="Home">
                    <img class="mb-4" src="{{ url_for('static', filename=sujeto.foto)}}" alt="" width="125"
                        height="125">
                </a>
                <p class="lead"><a href="/Perfil/Empleado">Editar perfil</a></p>
            </div>

            <div class="card-deck">
                <div class="card">
                    <a class="btn" href="/Anuncios">
                        <!--<img src="{{ url_for('static', filename='images/...png')}}" class="card-img-top" alt="..."
                        width="32" height="32">-->
                        <div class="card-body">
                            <h3 class="card-title text-center">Ver Anuncios</h3>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a class="btn" href="/MisPostulaciones">
                        <!--<img src="{{ url_for('static', filename='images/...png')}}" class="card-img-top" alt="..."
                                    width="32" height="32">-->
                        <div class="card-body">
                            <h3 class="card-title text-center">Mis Postulaciones</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="card-deck mt-4">
                <div class="card">
                    <a class="btn" href="/MisVinculos">
                        <!--<img src="{{ url_for('static', filename='images/...png')}}" class="card-img-top" alt="..."
                        width="32" height="32">-->
                        <div class="card-body">
                            <h3 class="card-title text-center">Mis Vínculos</h3>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a class="btn" href="#/Mensajes/{{sujeto.id}}/0">
                        <!--<img src="{{ url_for('static', filename='images/...png')}}" class="card-img-top" alt="..."
                        width="32" height="32">-->
                        <div class="card-body">
                            <h3 class="card-title text-center">Mensajes</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}