{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Página Principal{% endblock %}

{% block contenido %}
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="text-center mb-4">
                <p class="lead">
                    <a class="my-0 mr-md-auto" href="/MisVinculos" aria-label="Home">
                        <img class="mr-5" src="{{ url_for('static', filename='images/Alertas/Vinculo.png')}}" alt=""
                            width="80" height="80">
                    </a>
                    {% if tieneMensajesSinLeer %}
                    <a class="my-0 mr-md-auto" href="/MensajesEmpleado/{{sujeto.id}}/0" aria-label="Home">
                        <img class="ml-5" src="{{ url_for('static', filename='images/Alertas/Mensaje.png')}}" alt=""
                            width="80" height="80">
                    </a>
                    {% endif %}
                </p>
                <img class="mb-4" src="{{ url_for('static', filename=sujeto.foto)}}" alt="" width="125" height="125">
                <p class="lead"><a href="/Perfil/Empleado">Editar perfil</a></p>
            </div>

            <div class="card-deck">
                <div class="card">
                    <a class="btn" href="/Anuncios">
                        <div class="card-body">
                            <h3 class="card-title text-center">Ver Anuncios</h3>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a class="btn" href="/MisPostulaciones">
                        <div class="card-body">
                            <h3 class="card-title text-center">Mis Postulaciones</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="card-deck mt-4">
                <div class="card">
                    <a class="btn" href="/MisVinculos">
                        <div class="card-body">
                            <h3 class="card-title text-center">Mis Vínculos</h3>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a class="btn" href="/MensajesEmpleado/{{sujeto.id}}/0">
                        <div class="card-body">
                            <h3 class="card-title text-center">Mensajes</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}