{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Página Principal{% endblock %}

{% block contenido %}
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="text-center mb-4 in-line">
        <p class="lead">
          {% if tieneNotifPendientesPostulaciones %}
          <a class="my-0 mr-md-auto" href="" aria-label="Home">
            <img class="mr-5" src="{{ url_for('static', filename='images/Alertas/Postulacion.png')}}" alt="" width="80"
              height="80">
          </a>
          {% endif %}
          {% if tieneMensajesSinLeer %}
          <a class="my-0 mr-md-auto" href="/MensajesEmpleador/{{sujeto.id}}/0" aria-label="Home">
            <img class="ml-5" src="{{ url_for('static', filename='images/Alertas/Mensaje.png')}}" alt="" width="80"
              height="80">
          </a>
          {% endif %}
        </p>
        <img class="mb-4" src="{{ url_for('static', filename=sujeto.foto)}}" alt="" width="125" height="125"><br>
        {% if sujeto.promedioCalificacion %}
        <img class="mt-4 mb-4" style="margin-bottom: 0.3rem !important; margin: 0.3em !important;"
          {% if sujeto.promedioCalificacion < 1 %}
            src="{{ url_for('static', filename='images/Estrellas/05star.png')}}"
          {% elif sujeto.promedioCalificacion >= 1 and sujeto.promedioCalificacion < 1.5 %}
            src="{{ url_for('static', filename='images/Estrellas/10star.png')}}"
          {% elif sujeto.promedioCalificacion >= 1.5 and sujeto.promedioCalificacion < 2 %}
            src="{{ url_for('static', filename='images/Estrellas/15star.png')}}"
          {% elif sujeto.promedioCalificacion >= 2 and sujeto.promedioCalificacion < 2.5 %}
            src="{{ url_for('static', filename='images/Estrellas/20star.png')}}"                      
          {% elif sujeto.promedioCalificacion >= 2.5 and sujeto.promedioCalificacion < 3 %}
            src="{{ url_for('static', filename='images/Estrellas/25star.png')}}"                      
          {% elif sujeto.promedioCalificacion >= 3 and sujeto.promedioCalificacion < 3.5 %}
            src="{{ url_for('static', filename='images/Estrellas/30star.png')}}"                      
          {% elif sujeto.promedioCalificacion >= 3.5 and sujeto.promedioCalificacion < 4 %}
            src="{{ url_for('static', filename='images/Estrellas/35star.png')}}"                      
          {% elif sujeto.promedioCalificacion >= 4 and sujeto.promedioCalificacion < 4.5 %}
            src="{{ url_for('static', filename='images/Estrellas/40star.png')}}"                      
          {% elif sujeto.promedioCalificacion >= 4.5 and sujeto.promedioCalificacion < 5 %}
            src="{{ url_for('static', filename='images/Estrellas/45star.png')}}"    
          {% elif sujeto.promedioCalificacion == 5 %}
            src="{{ url_for('static', filename='images/Estrellas/50star.png')}}"
          {% endif %}
          alt="" width="188" height="41">
          <p style="font-size: 0.8em important; text-align: center important;">
            De {{cal['cantEmpleados']}}
            {% if cal['cantEmpleados'] == 1 %}
            calificante
            {% else %}
            calificantes
            {% endif %}
            por {{cal['cantVinculos']}} 
            {% if cal['cantVinculos'] == 1 %}
            vínculo
            {% else %}
            vínculos
            {% endif %}
          </p>
      {% else %}
      <p class="mt-4 mb-4">Sin calificaciones aún.</p>
      {% endif %}
        <p class="lead"><a href="/Perfil/Empleador">Editar perfil</a></p>
      </div>
      <div class="card-deck">
        <div class="card">
          <a class="btn" href="/Anuncio/Alta">
            <div class="card-body">
              <h3 class="card-title text-center">Crear Anuncio</h3>
            </div>
          </a>
        </div>
        <div class="card">
          <a class="btn" href="/TusAnuncios">
            <div class="card-body">
              <h3 class="card-title text-center">Mis Anuncios</h3>
            </div>
          </a>
        </div>
      </div>

      <div class="card-deck mt-4">
        <div class="card">
          <a class="btn" href="/MisVinculos">
            <div class="card-body">
              <h3 class="card-title text-center">Mis Vínculos</h3>
            </div>
          </a>
        </div>
        <div class="card">
          <a class="btn" href="/MensajesEmpleador/{{sujeto.id}}/0">
            <div class="card-body">
              <h3 class="card-title text-center">Mensajes</h3>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}