{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Inicio{% endblock %}

{% block contenido %}
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect class="fondo_carousel" width="100%" height="100%"></rect>
                    <img class="mb-4" src="{{ url_for('static', filename='images/Slide1.png')}}" alt="" width="50%"
                        height="100%">
                </svg>
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1>Título primer slide</h1>
                        <p>Breve descripción del primer slide para no sobrecargar la imagen</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect class="fondo_carousel" width="100%" height="100%"></rect>
                    <img class="mb-4" src="{{ url_for('static', filename='images/Slide2.png')}}" alt="" width="50%"
                        height="100%">
                </svg>
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1>Título segundo slide</h1>
                        <p>Breve descripción del segundo slide para no sobrecargar la imagen</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect class="fondo_carousel" width="100%" height="100%"></rect>
                    <img class="mb-4" src="{{ url_for('static', filename='images/Slide3.png')}}" alt="" width="50%"
                        height="100%">
                </svg>
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1>Título tercer slide</h1>
                        <p>Breve descripción del tercer slide para no sobrecargar la imagen</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Qué es?</h2>
            <p class="lead">Labores es una aplicación web con la que apuntamos a fomentar la visibilidad del sector
                del servicio doméstico. Facilitar la posibilidad de generar vínculos estableciendo un espacio en el
                cual ambas partes se sientan cómodas de compartir y conectarse a la vez de gestionar el vínculo
                entre quién busca el servicio y quién lo ofrece.</p>
        </div>
        <div class="col-md-5">
            <img class="mb-4" src="{{ url_for('static', filename='images/Empleada.png')}}" alt="" width="320"
                height="400">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Para quien es?</h2>
            <p class="lead">
                Aquí podrás encontrar a las personas que trabajan o desean trabajar en el servicio doméstico y
                quiénes contratan o desean contratar estos servicios con la facilidad de ver por medio de un perfil
                las características del servicio ofrecido como también las condiciones del solicitante para la
                contratación.
                Una vez se consolide el contacto entre ambos podrán profundizar en el contenido del vínculo.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="mb-4" src="{{ url_for('static', filename='images/Familia.png')}}" alt="" width="320"
                height="400">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Cómo funciona?</h2>
            <p class="lead">
                Si quieres emplearte en el servicio doméstico o ya trabajas en él y buscas nuevos desafíos:
                registrate y crea tu perfil por el cual los potenciales empleadores/as te conocerán y contactarán.
                Si lo que quieres es emplear a alguien que realice el servicio doméstico en tu casa de manera
                temporal, ya sea por un día, una tarea puntual o buscas la persona ideal para generar un vínculo
                permanente la podrás encontrar visualizando perfiles que se ajusten a tu búsqueda.
            </p>
        </div>
        <div class="col-md-5">
            <img class="mb-4" src="{{ url_for('static', filename='images/FamiliaFeliz3.png')}}" alt="" width="420"
                height="450">
        </div>
    </div>
    <hr class="featurette-divider">
</div>

{% endblock %}

{% block scripts %}
{% endblock %}