{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Candidatos{% endblock %}

{% block contenido %}
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Candidatos del anuncio</h1>
            <p class="mt-4">
                <h4>{{ elanuncio.titulo }} </h4>
                {{ elanuncio.descripcion }} <br>
                Publicado el {{ elanuncio.fecha_inicio }}
            </p>
            <a href="/TusAnuncios" type="button" class="btn btn-primary float-right">Volver a mis anuncios</a>
        </div>
    </div>

    <div class="container mb-5">
        {% for postulacion in elemPares %}

        {% set item_pares = elemPares[loop.index-1] %}
        {% set item_impares = elemImpares[loop.index-1] %}

        <div class="row">
            <div class="card ml-5 mr-3 mb-3" style="max-width: 500px; min-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename=item_pares.empleado.foto)}}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{item_pares.empleado.nombre}} {{item_pares.empleado.apellido}}</h5>
                            <p class="card-text">
                                Meses de experiencia: {{item_pares.experiencia_meses}}<br>
                                Promedio de calificación: {{item_pares.promedioCalificacion}}
                            </p>
                            <a class="btn btn-sm btn-success float-right"
                                href="#/Perfil/Empleado/item_pares.empleado.id" aria-label="">Ir al Perfil</a>
                            <p class="card-text"><small class="text-muted">Su postulación fue en:
                                    {{item_pares.fecha}}</small></p>
                        </div>
                    </div>
                </div>
            </div>

            {% if item_impares %}
            <div class="card mb-3" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename=item_impares.empleado.foto)}}" class="card-img"
                            alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{item_impares.empleado.nombre}} {{item_impares.empleado.apellido}}
                            </h5>
                            <p class="card-text">
                                Meses de experiencia: {{item_impares.experiencia_meses}}<br>
                                Promedio de calificación: {{item_impares.promedioCalificacion}}
                            </p>
                            <a class="btn btn-sm btn-success float-right"
                                href="#/Perfil/Empleado/item_impares.empleado.id" aria-label="">Ir al Perfil</a>
                            <p class="card-text"><small class="text-muted">Su postulación fue en:
                                    {{item_impares.fecha}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}