{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Candidatos{% endblock %}

{% block contenido %}
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Candidatos del anuncio</h1>
            <p class="mt-4">
                <h4>{{ elanuncio.titulo }} </h4>
                {{ elanuncio.descripcion }} <br>
                Publicado el {{ elanuncio.fecha_inicio.strftime('%d/%m/%Y') }}
            </p>
            <a href="/TusAnuncios" type="button" class="btn btn-primary float-right">Volver a mis anuncios</a>
        </div>
    </div>

    <div class="container mb-5">
        {% if not elemPares %}
        <p>
            <h5>Aún no hay candidatos.</h5>
        </p>
        {% else %}
        {% for postulacion in elemPares %}

        {% set item_pares = elemPares[loop.index-1] %}
        {% set item_impares = elemImpares[loop.index-1] %}

        <div class="row">
            <div class="card ml-5 mr-3 mb-3" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename=item_pares.empleado.foto)}}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{item_pares.empleado.nombre}} {{item_pares.empleado.apellido}}</h5>
                            <p class="card-text">
                                Meses de experiencia: {{item_pares.empleado.experiencia_meses}} </p>
                            <div class="card-text">
                                {% if item_pares.empleado.promedioCalificacion %}
                                <img class="mt-4 mb-4" 
                                  {% if item_pares.empleado.promedioCalificacion < 1 %}
                                    src="{{ url_for('static', filename='images/Estrellas/05star.png')}}"
                                  {% elif item_pares.empleado.promedioCalificacion >= 1 and item_pares.empleado.promedioCalificacion < 1.5 %}
                                    src="{{ url_for('static', filename='images/Estrellas/10star.png')}}"
                                  {% elif item_pares.empleado.promedioCalificacion >= 1.5 and item_pares.empleado.promedioCalificacion < 2 %}
                                    src="{{ url_for('static', filename='images/Estrellas/15star.png')}}"
                                  {% elif item_pares.empleado.promedioCalificacion >= 2 and item_pares.empleado.promedioCalificacion < 2.5 %}
                                    src="{{ url_for('static', filename='images/Estrellas/20star.png')}}"                      
                                  {% elif item_pares.empleado.promedioCalificacion >= 2.5 and item_pares.empleado.promedioCalificacion < 3 %}
                                    src="{{ url_for('static', filename='images/Estrellas/25star.png')}}"                      
                                  {% elif item_pares.empleado.promedioCalificacion >= 3 and item_pares.empleado.promedioCalificacion < 3.5 %}
                                    src="{{ url_for('static', filename='images/Estrellas/30star.png')}}"                      
                                  {% elif item_pares.empleado.promedioCalificacion >= 3.5 and item_pares.empleado.promedioCalificacion < 4 %}
                                    src="{{ url_for('static', filename='images/Estrellas/35star.png')}}"                      
                                  {% elif item_pares.empleado.promedioCalificacion >= 4 and item_pares.empleado.promedioCalificacion < 4.5 %}
                                    src="{{ url_for('static', filename='images/Estrellas/40star.png')}}"                      
                                  {% elif item_pares.empleado.promedioCalificacion >= 4.5 and item_pares.empleado.promedioCalificacion < 5 %}
                                    src="{{ url_for('static', filename='images/Estrellas/45star.png')}}"    
                                  {% elif item_pares.empleado.promedioCalificacion == 5 %}
                                    src="{{ url_for('static', filename='images/Estrellas/50star.png')}}"
                                  {% endif %}
                                  alt="" width="188" height="41">
                              {% else %}
                              <p class="mt-4 mb-4">Sin calificaciones aún.</p>
                              {% endif %}
                            </div>

                            <a class="btn btn-sm btn-success float-right"
                                href="/VistaPerfil/Empleado/{{item_pares.empleado.id}}" aria-label="">Ir al Perfil</a>
                            <p class="card-text"><small class="text-muted">Su postulación fue en:
                                    {{item_pares.fecha.strftime('%d/%m/%Y')}}</small></p>
                        </div>
                    </div>
                </div>
            </div>

            {% if item_impares %}
            <div class="card mb-3" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename=item_impares.empleado.foto)}}" class="card-img"
                            alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{item_impares.empleado.nombre}} {{item_impares.empleado.apellido}}
                            </h5>
                            <p class="card-text">
                                Meses de experiencia: {{item_impares.experiencia_meses}}<br></p>
                                <div class="card-text">
                                    {% if item_impares.empleado.promedioCalificacion %}
                                    <img class="mt-4 mb-4" 
                                      {% if item_impares.empleado.promedioCalificacion < 1 %}
                                        src="{{ url_for('static', filename='images/Estrellas/05star.png')}}"
                                      {% elif item_impares.empleado.promedioCalificacion >= 1 and item_impares.empleado.promedioCalificacion < 1.5 %}
                                        src="{{ url_for('static', filename='images/Estrellas/10star.png')}}"
                                      {% elif item_impares.empleado.promedioCalificacion >= 1.5 and item_impares.empleado.promedioCalificacion < 2 %}
                                        src="{{ url_for('static', filename='images/Estrellas/15star.png')}}"
                                      {% elif item_impares.empleado.promedioCalificacion >= 2 and item_impares.empleado.promedioCalificacion < 2.5 %}
                                        src="{{ url_for('static', filename='images/Estrellas/20star.png')}}"                      
                                      {% elif item_impares.empleado.promedioCalificacion >= 2.5 and item_impares.empleado.promedioCalificacion < 3 %}
                                        src="{{ url_for('static', filename='images/Estrellas/25star.png')}}"                      
                                      {% elif item_impares.empleado.promedioCalificacion >= 3 and item_impares.empleado.promedioCalificacion < 3.5 %}
                                        src="{{ url_for('static', filename='images/Estrellas/30star.png')}}"                      
                                      {% elif item_impares.empleado.promedioCalificacion >= 3.5 and item_impares.empleado.promedioCalificacion < 4 %}
                                        src="{{ url_for('static', filename='images/Estrellas/35star.png')}}"                      
                                      {% elif item_impares.empleado.promedioCalificacion >= 4 and item_impares.empleado.promedioCalificacion < 4.5 %}
                                        src="{{ url_for('static', filename='images/Estrellas/40star.png')}}"                      
                                      {% elif item_impares.empleado.promedioCalificacion >= 4.5 and item_impares.empleado.promedioCalificacion < 5 %}
                                        src="{{ url_for('static', filename='images/Estrellas/45star.png')}}"    
                                      {% elif item_impares.empleado.promedioCalificacion == 5 %}
                                        src="{{ url_for('static', filename='images/Estrellas/50star.png')}}"
                                      {% endif %}
                                      alt="" width="188" height="41">
                                  {% else %}
                                  <p class="mt-4 mb-4">Sin calificaciones aún.</p>
                                  {% endif %}
                                </div>
                            <a class="btn btn-sm btn-success float-right"
                                href="/VistaPerfil/Empleado/{{item_impares.empleado.id}}" aria-label="">Ir al Perfil</a>
                            <p class="card-text"><small class="text-muted">Su postulación fue en:
                                    {{item_impares.fecha.strftime('%d/%m/%Y')}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}