{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Opción de Registro{% endblock %}

{% block contenido %}
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-5 mb-5">Opción de Registro</h1>
      <form class="form" action="/Registro" method="POST">
        <div class="card-deck">
          <div class="card">
            <a href="/Perfil/Empleado/0" name="OpcionEmpleado">
              <img src="{{ url_for('static', filename='images/OpcionEmpleado.png')}}" class="card-img-top mt-3"
                alt="..." width="300" height="300">
            </a>
            <div class="card-body">
              <h2 class="card-title text-center">Empleados</h2>
            </div>
          </div>
          <div class="card">
            <a href="/Perfil/Empleador/0" name="OpcionEmpleador">
              <img src="{{ url_for('static', filename='images/OpcionEmpleador.png')}}" class="card-img-top" alt="..."
                width="300" height="300">
            </a>
            <div class="card-body">
              <h2 class="card-title text-center mt-3">Empleadores</h2>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}