{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Perfil{% endblock %}

{% block contenido %}
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% if session['usertype'] %}
            <h1 class="display-5 mb-5">Perfil</h1>
            {% else %}
            <h1 class="display-5 mb-5">Registro {{tipo}}</h1>
            {% endif %}
            <form class="needs-validation" novalidate="" action="/GuardarPerfil/{{tipo}}" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre"
                               value="{{data.nombre}}" required="">
                        <div class="invalid-feedback">
                            Se requiere un Nombre válido.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Apellido</label>
                        <input type="text" class="form-control" name="apellido" id="apelido" placeholder="Apellido"
                               value="{{data.apellido}}" required="">
                        <div class="invalid-feedback">
                            Se requiere un Apellido válido.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="ci">Cédula de identidad</label>
                        <input type="text" class="form-control" name="cedula" id="cedula" placeholder="50726621"
                               required="" value="{{data.cedula}}" {% if session['usertype'] %} disabled {% endif %}>
                        <div class="invalid-feedback">
                            Por favor seleccione una CI válida.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="phone">Teléfono</label>
                        <input type="text" class="form-control" name="tel" id="tel" placeholder="23655544" required=""
                               value="{{data.telefono}}">
                        <div class="invalid-feedback">
                            Por favor seleccione un Teléfono válido.
                        </div>
                    </div>
                </div>

                <div class="mt-4 mb-5">
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Fotografía</label>
                        <input type="file" class="form-control-file" id="fotoPerfil" name="fotoPerfil"
                               value={{data.foto}}>
                    </div>
                </div>

                <div class="d-block my-3">
                    <p>Género</p>

                    <div class="custom-control custom-radio">
                        <input id="genderF" name="genero" type="radio" class="custom-control-input" required="" value="0" {% if data.genero == 0 %} checked {% endif %}>
                        <label class="custom-control-label" for="genderF">Femenino</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="genderM" name="genero" type="radio" class="custom-control-input" required="" value="1" {% if data.genero == 1 %} checked {% endif %}>
                        <label class="custom-control-label" for="genderM">Masculino</label>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="birthdate">Fecha de nacimiento</label>
                    <input type="date" class="form-control col-sm-3" name="cumple" id="cumple"
                           value="{{data.nacimiento}}" required="">
                    <div class="invalid-feedback">
                        Por favor seleccione una Fecha de nacimiento válida.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="domicilio">Domicilio</label>
                    <input type="text" class="form-control" name="domicilio" id="domicilio"
                           placeholder="18 de Julio 1234" required="" value="{{data.domicilio}}">
                    <div class="invalid-feedback">
                        Debe ingresar su domicilio.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="nacionalidad">Nacionalidad</label>
                    <input type="text" class="form-control col-sm-5" name="nacionalidad" id="nacionalidad"
                           placeholder="Uruguayo" value="{{data.nacionalidad}}">
                </div>

                <div class="mb-3">
                    <label for="email">Email </label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="nombre@gmail.com"
                           required="" value="{{data.email}}">
                    <div class="invalid-feedback">
                        Se requiere un Email válido.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="emailConf">Confirmar Email </label>
                    <input type="email" class="form-control" name="emailConf" id="emailConf"
                           placeholder="nombre@gmail.com" required="" value="{{data.email}}">
                    <div class="invalid-feedback">
                        Se requiere un Email válido.
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-md-6 mt-5 mb-3">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder=""
                               required="" value="{{data.usuario.clave}}">
                        <small class="text-muted">Debe contener al menos 8 caracteres</small>
                        <div class="invalid-feedback">
                            Debe ingresar una contraseña
                        </div>
                    </div>
                    <div class="col-md-6 mt-5   mb-3">
                        <label for="repassword">Confirmar contraseña</label>
                        <input type="password" class="form-control" name="passwordConf" id="repassword" placeholder=""
                               required="" value="{{data.usuario.clave}}">
                        <small class="text-muted">Debe reingresar la contraseña</small>
                        <div class="invalid-feedback">
                            Debe confirmar la contraseña
                        </div>
                    </div>
                </div>

                {% if session['usertype'] == 'Empleado' %}
                <hr class="mt-5 mb-5">
                <div class="d-block my-3">
                    <p>¿Tiene experiencia en el rubro?</p>

                    <div class="custom-control custom-radio">
                        <input id="experienciaSi" name="experiencia" type="radio" class="custom-control-input" required="" value="1" {% if data.experiencia_meses is not none or data.experiencia_meses != 0 %} checked {% endif %}>
                        <label class="custom-control-label" for="experienciaSi">Si</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="experienciaNo" name="experiencia" type="radio" class="custom-control-input" required="" value="0" {% if data.experiencia_meses is none or data.experiencia_meses == 0 %} checked {% endif %}>
                        <label class="custom-control-label" for="experienciaNo">No</label>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="mesesExperiencia">Meses de experiencia</label>
                    <input type="text" class="form-control col-sm-2" name="mesesExperiencia" id="mesesExperiencia"
                           placeholder="0" value="{{data.experiencia_meses}}">
                    <div class="invalid-feedback">
                        Por favor seleccione una cantidad de meses válida.
                    </div>
                </div>

                <div class="d-block my-3">
                    <p>Disponibilidad</p>
                    {% for disp in aux.disponibilidad %}
                    <div class="custom-control">
                        <input id="disp{{ disp.id}}" name="disp{{ disp.id }}" type="checkbox"
                               class="custom-control-input" {% if disp.seleccionada == 1 %} checked {% endif %}>
                        <label class="custom-control-label" for="disp{{ disp.id }}">{{ disp.descripcion }}</label>
                    </div>
                    {% endfor %}
                </div>

                <div class="d-block my-3">
                    <p>Tareas que realizas</p>
                    {% for tarea in aux.tareas %}
                    <div class="custom-control">
                        <input id="tarea{{ tarea.id }}" name="tarea{{ tarea.id }}" type="checkbox"
                               class="custom-control-input" {% if tarea.seleccionada == 1 %} checked {% endif %}>
                        <label class="custom-control-label" for="tarea{{ tarea.id }}">{{ tarea.descripcion }}</label>
                    </div>
                    {% endfor %}
                </div>

                <hr class="mt-5 mb-5">

                <h5>
                    Los empleadores te invitarán a pasar a su casa <br>
                    ¡cuentales algo sobre tí, así comienzan a conocerte!
                </h5>
                <textarea class="" name="presentacion" rows="10" cols="65"
                          placeholder="Escribe aqui...">{{data.descripcion}}</textarea>

                <hr class="mt-5 mb-5">

                {% if not data.referencias %}
                <div class="row mb-5 ml-4">
                    <button type="button" style="max-width: 560px; min-width: 560px;" class="btn btn-secondary" disabled><h5>No tiene ninguna referencia registrada hasta el momento</h5></button>
                </div>     
                {% else %}
                <div class="mt-5 mb-5">
                    <table class="table table-bordered table bg-white">
                        <thead>
                            <tr>
                                <td>Nombre</td>
                                <td>Apellido</td>
                                <td>Teléfono</td>
                                <td>Desde</td>
                                <td>Hasta</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for referencia in data.referencias %}
                            <tr>
                                <td>{{referencia.nombre}}</td>
                                <td>{{referencia.apellido}}</td>
                                <td>{{referencia.telefono}}</td>
                                <td>{{referencia.fechaDesde}}</td>
                                <td>{{referencia.fechaHasta}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary btn btn-block" name="btnEditarReferencia" 
                                    value={{referencia.id}}>Editar</button>
                                    <button class="btn btn-sm btn-danger btn btn-block" name="btnBorrarReferencia" 
                                    value={{referencia.id}}>Borrar</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

                <a id="anclaReferencias"></a>
                <p>¿Tienes referencias de empleos anteriores? Agregalas aquí</p>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="mt-4 mb-3">
                            <label for="nombreEmp">Nombre del empleador</label>
                            <input type="text" class="form-control" name="refNombreEmp" id="nombreEmp" placeholder="Nombre"
                                value={% if refer is not none %}{{ refer.nombre }}{% endif %}>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="mt-4 mb-3">
                            <label for="apellidoEmp">Apellido del empleador</label>
                            <input type="text" class="form-control" name="refApellidoEmp" id="apellidoEmp" placeholder="Apellido"
                                value={% if refer is not none %}{{ refer.apellido }}{% endif %}>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="mb-3">
                            <label for="refTrabDesde">Trabaje desde</label>
                            <input type="date" class="form-control" name="refTrabDesde" id="refTrabDesde" 
                            value={% if refer is not none %}{{refer.fechaDesde}}{% endif %}>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="mb-3">
                            <label for="refTrabHasta">Trabaje hasta</label>
                            <input type="date" class="form-control" name="refTrabHasta" id="refTrabHasta" 
                            value={% if refer is not none %}{{refer.fechaHasta}}{% endif %}>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="telefonoEmp">Teléfono del empleador</label>
                            <input type="text" class="form-control" name="refTelefonoEmp" id="telefonoEmp"
                                   placeholder="Teléfono" value={% if refer is not none %}{{refer.telefono}}{% endif %}>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="btnReferencia"></label>
                            <button class="btn btn-primary btn btn-block mt-2" name="btnGuardarReferencia" 
                            value="GuardarReferencia">Guardar Referencia</button>
                        </div>
                    </div>
                </div>

                <hr class="mt-5 mb-5">

                {% elif session['usertype'] == 'Empleador' %}
                <hr class="mt-5 mb-5">
                <div class="d-block my-3">
                    <p>¿Estás registrad@ como empleador/a en el BPS?</p>

                    <div class="custom-control custom-radio">
                        <input id="bpsSi" name="bps" type="radio" class="custom-control-input" required="" value="1" {% if data.registroBps is not none or data.registroBps != '' %} checked {% endif %}>
                        <label class="custom-control-label" for="bpsSi">Si</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="bpsNo" name="bps" type="radio" class="custom-control-input" required="" value="0" {% if data.registroBps is none or data.registroBps == '' %} checked {% endif %}>
                        <label class="custom-control-label" for="bpsNo">No</label>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="empleadorNumRegBPS">Número de registro</label>
                    <input type="text" class="form-control col-sm-5" name="empleadorNumRegBPS" id="empleadorNumRegBPS"
                           placeholder="679102987" value="{{data.registroBps}}">
                    <div class="invalid-feedback">
                        Por favor seleccione un Número de registro válido.
                    </div>
                </div>

                <hr class="mt-5 mb-5">
                {% endif %}

                {% if session['usertype'] %}
                <button class="btn btn-success btn btn-block" type="submit" value="GuardarPerfil">Guardar</button>
                <a class="btn btn btn-danger btn-delete btn-block" href="" aria-label="" data-toggle="modal"
                   data-target="#modal">Eliminar cuenta</a>
                {% else %}
                <button class="btn btn-success btn btn-block" type="submit" value="CrearCuenta">Crear Cuenta</button>
                {% endif %}

                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="mensaje"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel">Mensaje</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h4>Funcionalidad no implementada</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}