{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Recuperar Contraseña{% endblock %}

{% block contenido %}
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Recuperación de Contraseña</h1>
            <p class="lead">Formulario para recuperar la Contraseña</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}