{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Registro{% endblock %}

{% block contenido %}
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-5 mb-5">Registro {{session['useroption']}}</h1>
      <form class="needs-validation" novalidate="" action="/Registrar/{{session['useroption']}}" method="POST">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="" value="" required="" name="txtNombre">
            <div class="invalid-feedback">
              Debe ingresar su nombre.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" placeholder="" value="" required="" name="txtApellido">
            <div class="invalid-feedback">
              Debe ingresar su apellido.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="apellido">Fecha de nacimiento</label>
          <input type="text" class="form-control col-sm-3" id="nacimiento" placeholder="01/01/0001" value="" required="" name="txtNacimiento">
        </div>

        <div class="d-block my-3 mb-3">
					<p class="mb-1">Género</p>
					<div class="custom-control custom-radio ml-5">
					  <input id="generoFemenino" name="radioGenero" type="radio" class="custom-control-input" checked="" required="">
					  <label class="custom-control-label" for="generoFemenino">Femenino</label>
					</div>
					<div class="custom-control custom-radio ml-5">
					  <input id="generoMasculino" name="radioGenero" type="radio" class="custom-control-input" required="">
					  <label class="custom-control-label" for="generoMasculino">Masculino</label>
					</div>
        </div>

        <div class="mb-3">
          <label for="cedula">Cédula de identidad</label>
          <div class="input-group">
            <input type="text" class="form-control col-sm-3" id="cedula" placeholder="1.234.567-8" required="" name="txtCedula">
            <div class="invalid-feedback" style="width: 100%;">
              Debe ingresar su cédula.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="domicilio">Domicilio</label>
          <input type="text" class="form-control" id="domicilio" placeholder="18 de Julio 1234" required="" name="txtDomicilio">
          <div class="invalid-feedback">
            Debe ingresar su domicilio.
          </div>
        </div>

        <div class="mb-3">
          <label for="nacionalidad">Nacionalidad</label>
          <input type="text" class="form-control col-sm-5" id="nacionalidad" placeholder="Uruguayo" name="txtNacionalidad">
        </div>

        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="email" placeholder="tu@ejemplo.com" name="txtMail">
          <div class="invalid-feedback">
            Debe ingresar un correo electrónico válido.
          </div>
        </div>

        <div class="mb-3">
          <label for="emailConfirm">Confirmar Email <span class="text-muted">(Optional)</span></label>
            <input type="email" class="form-control" id="emailConfirm" placeholder="tu@ejemplo.com" name="txtConfirmaMail">
          <div class="invalid-feedback">
            Debe ingresar un correo electrónico válido.
          </div>
        </div>

        <div class="mb-3">
          <label for="telefono">Teléfono</label>
          <input type="text" class="form-control col-sm-5" id="telefono" placeholder="099123456" name="txtTelefono">
          <div class="invalid-feedback" style="width: 100%;">
            Debe ingresar su teléfono.
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-6 mt-5 mb-3">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="" required="" name="txtPassword">
            <small class="text-muted">Debe contener al menos 8 caracteres</small>
            <div class="invalid-feedback">
              Debe ingresar una contraseña
            </div>
          </div>
          <div class="col-md-6 mt-5   mb-3">
            <label for="repassword">Confirmar contraseña</label>
            <input type="password" class="form-control" id="repassword" placeholder="" required="" name="txtConfirmaPassword">
            <small class="text-muted">Debe reingresar la contraseña</small>
            <div class="invalid-feedback">
              Debe confirmar la contraseña
            </div>
          </div>
        </div>

        <button class="btn btn btn-primary btn-block" type="submit" name="btnRegistrar">REGISTRARSE</button>

        {% with message = get_flashed_messages() %}
				{% if messages %}
				{% for message in messages %}
				<div clas="alert alert-success alert-dismissible fade show" role="alert">
				{{message}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
				</div>
				{% endfor %}
				{% endif %}
				{% endwith %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}