{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}<title>Labores - TusAnuncios</title>{% endblock %}

{% block contenido %}
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Aquí debería de estar el listado de anuncios</h1>
            <p class="lead">Ya va a salir...</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}