{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Mis Postulaciones{% endblock %}

{% block contenido %}
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Postulaciones</h1>
            <p class="lead">Lista de mis postulaciones</p>
        </div>
    </div>

    <div class="container ml-4 mr-5 mt-5">
        <div class="my-3 p-3 bg-white rounded shadow-sm mr-5 pl-5 pr-5 pt-5 pb-5">
            {% if not postulaciones %}
            <p>Aún no tienes postulaciones.</p>
            {% else %}
            {% for postulacion in postulaciones %}
            <div class="container border-top border-bottom bg-light mb-3">
                <div class="media text-muted pt-3 ml-5 mt-3">
                    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
                         preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 1">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#007bff" />
                        <text x="50%" y="50%" fill="white"
                              dy=".3em">{{ loop.index }}</text>
                    </svg>

                    <p class="media-body pb-3 mb-0 small lh-125 ml-5">
                        <strong class="d-block text-gray-dark" style="font-size: large;">{{ postulacion[1].titulo }}</strong><br>
                        Postulación: <strong>{{ postulacion[2].fecha }}</strong> <br>
                        {{ postulacion[1].descripcion }} <br>

                        {% if postulacion[3] == 1 %}
                        <a class="btn btn-sm btn-success mb-2 mt-4" href="/verAnuncio/{{ postulacion.0 }}/1" aria-label="">
                            Ir al Anuncio
                        </a>
                        {% else %}
                        <a class="btn btn-sm btn-grey mb-2 mt-4" aria-label="">Anuncio cerrado</a>
                        {% endif %}
                    </p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}