{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Ver vínculo{% endblock %}

{% block contenido %}
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% if extension < 30 and not vinculo.fecha_fin %}
            <a class="btn btn-outline-info float-right" href="/notVinculo/{{vinculo.id}}" aria-label="">¿Este vínculo no llegó <br> a concretarse?</a>
            {% endif %}
            <h1 class="display-5 mb-5">Vínculo</h1>

            
                <div class="form-group row" style="margin-bottom: 0px;">
                    <label class="col-sm-3 col-form-label">Inicio del vínculo:</label>
                    <div class="col-sm-5">
                        <label class="col-form-label">{{vinculo.fecha_inicio.strftime('%d/%m/%Y')}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Fin del vínculo:</label>
                    <div class="col-sm-5">
                        <label class="col-form-label">
                            {% if vinculo.fecha_fin == None %}
                            Vínculo actualmente activo
                            {% else %}
                            {{vinculo.fecha_fin.strftime('%d/%m/%Y')}}
                            {% endif %}
                        </label>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Calificación del empleador:</label>
                    <div class="col-sm-8">
                        <label class="col-form-label">
                            {% if vinculo.calif_empleado %}
                                <strong>{{empleador.nombre}} {{empleador.apellido}}</strong> a calificado este vínculo con:
                                <img class="mt-4 mb-4" style="margin-bottom: 0.3rem !important;"
                                {% if vinculo.calif_empleado < 1 %}
                                src="{{ url_for('static', filename='images/Estrellas/05star.png')}}"
                                {% elif vinculo.calif_empleado >= 1 and vinculo.calif_empleado < 1.5 %}
                                src="{{ url_for('static', filename='images/Estrellas/10star.png')}}"
                                {% elif vinculo.calif_empleado >= 1.5 and vinculo.calif_empleado < 2 %}
                                src="{{ url_for('static', filename='images/Estrellas/15star.png')}}"
                                {% elif vinculo.calif_empleado >= 2 and vinculo.calif_empleado < 2.5 %}
                                src="{{ url_for('static', filename='images/Estrellas/20star.png')}}"                      
                                {% elif vinculo.calif_empleado >= 2.5 and vinculo.calif_empleado < 3 %}
                                src="{{ url_for('static', filename='images/Estrellas/25star.png')}}"                      
                                {% elif vinculo.calif_empleado >= 3 and vinculo.calif_empleado < 3.5 %}
                                src="{{ url_for('static', filename='images/Estrellas/30star.png')}}"                      
                                {% elif vinculo.calif_empleado >= 3.5 and vinculo.calif_empleado < 4 %}
                                src="{{ url_for('static', filename='images/Estrellas/35star.png')}}"                      
                                {% elif vinculo.calif_empleado >= 4 and vinculo.calif_empleado < 4.5 %}
                                src="{{ url_for('static', filename='images/Estrellas/40star.png')}}"                      
                                {% elif vinculo.calif_empleado >= 4.5 and vinculo.calif_empleado < 5 %}
                                src="{{ url_for('static', filename='images/Estrellas/45star.png')}}"    
                                {% elif vinculo.calif_empleado == 5 %}
                                src="{{ url_for('static', filename='images/Estrellas/50star.png')}}"
                                {% endif %}
                                alt="" width="188" height="41">
                            {% else %}
                                <strong>{{empleador.nombre}} {{empleador.apellido}}</strong> aún no ha calificado este vínculo
                            {% endif %}
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Calificación del empleado:</label>
                    <div class="col-sm-8">
                        <label class="col-form-label">
                            {% if vinculo.calif_empleador %}
                                <strong>{{empleado.nombre}} {{empleado.apellido}}</strong> a calificado este vínculo con:
                                <img class="mt-4 mb-4" style="margin-bottom: 0.3rem !important;"
                                {% if vinculo.calif_empleador < 1 %}
                                src="{{ url_for('static', filename='images/Estrellas/05star.png')}}"
                                {% elif vinculo.calif_empleador >= 1 and vinculo.calif_empleador < 1.5 %}
                                src="{{ url_for('static', filename='images/Estrellas/10star.png')}}"
                                {% elif vinculo.calif_empleador >= 1.5 and vinculo.calif_empleador < 2 %}
                                src="{{ url_for('static', filename='images/Estrellas/15star.png')}}"
                                {% elif vinculo.calif_empleador >= 2 and vinculo.calif_empleador < 2.5 %}
                                src="{{ url_for('static', filename='images/Estrellas/20star.png')}}"                      
                                {% elif vinculo.calif_empleador >= 2.5 and vinculo.calif_empleador < 3 %}
                                src="{{ url_for('static', filename='images/Estrellas/25star.png')}}"                      
                                {% elif vinculo.calif_empleador >= 3 and vinculo.calif_empleador < 3.5 %}
                                src="{{ url_for('static', filename='images/Estrellas/30star.png')}}"                      
                                {% elif vinculo.calif_empleador >= 3.5 and vinculo.calif_empleador < 4 %}
                                src="{{ url_for('static', filename='images/Estrellas/35star.png')}}"                      
                                {% elif vinculo.calif_empleador >= 4 and vinculo.calif_empleador < 4.5 %}
                                src="{{ url_for('static', filename='images/Estrellas/40star.png')}}"                      
                                {% elif vinculo.calif_empleador >= 4.5 and vinculo.calif_empleador < 5 %}
                                src="{{ url_for('static', filename='images/Estrellas/45star.png')}}"    
                                {% elif vinculo.calif_empleador == 5 %}
                                src="{{ url_for('static', filename='images/Estrellas/50star.png')}}"
                                {% endif %}
                                alt="" width="188" height="41">
                            {% else %}
                                <strong>{{empleado.nombre}} {{empleado.apellido}}</strong> aún no ha calificado este vínculo
                            {% endif %}
                        </label>
                    </div>
                </div>

                <hr class="mt-5 mb-5">

                <div class="d-block my-3 mt-5">

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Anuncio:</label>
                        <div class="col-sm-5">
                            <label class="col-form-label" style="padding-bottom: 0;"><strong>{{anuncio.titulo}}</strong></label>
                            <label class="col-form-label" style="font-size: small; padding-top: 0;">{{anuncio.descripcion}}</label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Publicación del anuncio:</label>
                        <div class="col-sm-5">
                            <label class="col-form-label">
                                {{anuncio.fecha_inicio.strftime('%d/%m/%Y')}}
                            </label>
                        </div>
                    </div>
                    <br><br>


                    <p>Tipo trabajo</p>
                    <div class="custom-control custom-radio">
                        <input id="dispHora" name="disponibilidad" type="radio" class="custom-control-input" required=""
                            {% if anuncio.disponibilidad == 1%} checked {% endif %} disabled>
                        <label class="custom-control-label" for="dispHora">Por hora</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="dispJorn" name="disponibilidad" type="radio" class="custom-control-input" required=""
                            {% if anuncio.disponibilidad == 2%} checked {% endif %} disabled>
                        <label class="custom-control-label" for="dispJorn">Por jornada</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="dispTarea" name="disponibilidad" type="radio" class="custom-control-input"
                            required="" {% if anuncio.disponibilidad == 3%} checked {% endif %} disabled>
                        <label class="custom-control-label" for="dispTarea">Por tarea puntual</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="dispMes" name="disponibilidad" type="radio" class="custom-control-input" required=""
                            {% if  anuncio.disponibilidad == 4%} checked {% endif %} disabled>
                        <label class="custom-control-label" for="dispMes">Por mes</label>
                    </div>
                </div>

                <div class="d-block my-3 mt-5">
                    <p>Tareas realizadas:</p>
                    <div class="custom-control custom-checkbox">
                        <input id="tareaOficina" name="tareaOficina" type="checkbox" class="custom-control-input"
                            {% if anuncio.oficina == True %} checked {% endif %} disabled>
                        <label class="custom-control-label" for="tareaOficina">Oficina</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input id="tareaCocina" name="tareaCocina" type="checkbox" class="custom-control-input"
                            {% if anuncio.cocinar == True %} checked {% endif %} disabled>
                        <label class="custom-control-label" for="tareaCocina">Cocinar</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input id="tareaLimpBañ" name="tareaLimpBañ" type="checkbox" class="custom-control-input"
                            {% if anuncio.limp_banios == True %} checked {% endif %} disabled>
                        <label class="custom-control-label" for="tareaLimpBañ">Limpieza de baños</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input id="tareaLimpCoc" name="tareaLimpCoc" type="checkbox" class="custom-control-input"
                            {% if anuncio.limp_cocinas == True %} checked {% endif %} disabled>
                        <label class="custom-control-label" for="tareaLimpCoc">Limpieza de cocina</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input id="tareaLimpDor" name="tareaLimpDor" type="checkbox" class="custom-control-input"
                            {% if anuncio.limp_dormitorios == True %} checked {% endif %} disabled>
                        <label class="custom-control-label" for="tareaLimpDor">Limpieza de dormitorio</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input id="tareaCuidNiño" name="tareaCuidNiño" type="checkbox" class="custom-control-input"
                            {% if anuncio.cuidado_ninios == True %} checked {% endif %} disabled>
                        <label class="custom-control-label" for="tareaCuidNiño">Cuidado de niños</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input id="tareaCuidBebe" name="tareaCuidBebe" type="checkbox" class="custom-control-input"
                            {% if anuncio.cuidado_bebes == True %} checked {% endif %} disabled>
                        <label class="custom-control-label" for="tareaCuidBebe">Cuidado de bebes</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input id="tareaCuidAdulto" name="tareaCuidAdulto" type="checkbox" class="custom-control-input"
                            {% if anuncio.cuidado_adultos == True %} checked {% endif %} disabled>
                        <label class="custom-control-label" for="tareaCuidAdulto">Adultos mayores</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input id="tareaCuidMasc" name="tareaCuidMasc" type="checkbox" class="custom-control-input"
                            {% if anuncio.cuidado_mascotas == True %} checked {% endif %} disabled>
                        <label class="custom-control-label" for="tareaCuidMasc">Cuidado de mascotas</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input id="tareaHogar" name="tareaHogar" type="checkbox" class="custom-control-input"
                            {% if anuncio.hogar == True %} checked {% endif %} disabled>
                        <label class="custom-control-label" for="tareaHogar">Otras tareas</label>
                    </div>
                </div>

                <hr class="mt-5 mb-5">


<!---------------------------------------------------------tarjeta empleado full---------------------------------------------------------------------------->
<div class="card_full">
                <h1 class="display-6 mb-5">
                    {% if user == 'Empleador' %}
                    Datos del empleado:
                    {% else %}
                    Datos del empleador:
                    {% endif %}
                </h1>


                <div class="row mb-5">
                    <div class="card ml-5 mr-3 mb-3" style="max-width: 550px; min-width: 550px;">
                        <div class="row no-gutters">

                            {% if user == 'Empleado' %}
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename=empleador.foto)}}" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <br>
                                    <h5 class="card-title">{{empleador.nombre}} {{empleador.apellido}}</h5>
                                    <p class="card-text">
                                        Registro en el BPS: 
                                        {% if empleador.registroBps == '' or empleador.registroBps == '0'%}No{% else %}Si{% endif %}</p>
                                        {% if empleador.promedioCalificacion %}
                                        <img class="mt-4 mb-4" style="margin-bottom: 0.3rem !important;"
                                          {% if empleador.promedioCalificacion < 1 %}
                                            src="{{ url_for('static', filename='images/Estrellas/05star.png')}}"
                                          {% elif empleador.promedioCalificacion >= 1 and empleador.promedioCalificacion < 1.5 %}
                                            src="{{ url_for('static', filename='images/Estrellas/10star.png')}}"
                                          {% elif empleador.promedioCalificacion >= 1.5 and empleador.promedioCalificacion < 2 %}
                                            src="{{ url_for('static', filename='images/Estrellas/15star.png')}}"
                                          {% elif empleador.promedioCalificacion >= 2 and empleador.promedioCalificacion < 2.5 %}
                                            src="{{ url_for('static', filename='images/Estrellas/20star.png')}}"                      
                                          {% elif empleador.promedioCalificacion >= 2.5 and empleador.promedioCalificacion < 3 %}
                                            src="{{ url_for('static', filename='images/Estrellas/25star.png')}}"                      
                                          {% elif empleador.promedioCalificacion >= 3 and empleador.promedioCalificacion < 3.5 %}
                                            src="{{ url_for('static', filename='images/Estrellas/30star.png')}}"                      
                                          {% elif empleador.promedioCalificacion >= 3.5 and empleador.promedioCalificacion < 4 %}
                                            src="{{ url_for('static', filename='images/Estrellas/35star.png')}}"                      
                                          {% elif empleador.promedioCalificacion >= 4 and empleador.promedioCalificacion < 4.5 %}
                                            src="{{ url_for('static', filename='images/Estrellas/40star.png')}}"                      
                                          {% elif empleador.promedioCalificacion >= 4.5 and empleador.promedioCalificacion < 5 %}
                                            src="{{ url_for('static', filename='images/Estrellas/45star.png')}}"    
                                          {% elif empleador.promedioCalificacion == 5 %}
                                            src="{{ url_for('static', filename='images/Estrellas/50star.png')}}"
                                          {% endif %}
                                          alt="" width="188" height="41">
                                          <p style="font-size: 0.8em important; text-align: center important;">
                                            De {{calEmpleador['cantEmpleados']}}
                                            {% if calEmpleador['cantEmpleados'] == 1 %}
                                            calificante
                                            {% else %}
                                            calificantes
                                            {% endif %}
                                            por {{calEmpleador['cantVinculos']}} 
                                            {% if calEmpleador['cantVinculos'] == 1 %}
                                            vínculo
                                            {% else %}
                                            vínculos
                                            {% endif %}
                                          </p>
                                      {% else %}
                                      <p class="mt-4 mb-4">Sin calificaciones aún.</p>
                                      {% endif %}

                                    </p>
                                </div>
                            </div>
                            {% elif user == 'Empleador' %}
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename=empleado.foto)}}" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{empleado.nombre}} {{empleado.apellido}}</h5>
                                    <p class="card-text">
                                        Meses de experiencia: {{empleado.experiencia_meses}}</p>
                                        {% if empleado.promedioCalificacion %}
                                        <img class="mt-4 mb-4" style="margin-bottom: 0.3rem !important;"
                                          {% if empleado.promedioCalificacion < 1 %}
                                            src="{{ url_for('static', filename='images/Estrellas/05star.png')}}"
                                          {% elif empleado.promedioCalificacion >= 1 and empleado.promedioCalificacion < 1.5 %}
                                            src="{{ url_for('static', filename='images/Estrellas/10star.png')}}"
                                          {% elif empleado.promedioCalificacion >= 1.5 and empleado.promedioCalificacion < 2 %}
                                            src="{{ url_for('static', filename='images/Estrellas/15star.png')}}"
                                          {% elif empleado.promedioCalificacion >= 2 and empleado.promedioCalificacion < 2.5 %}
                                            src="{{ url_for('static', filename='images/Estrellas/20star.png')}}"                      
                                          {% elif empleado.promedioCalificacion >= 2.5 and empleado.promedioCalificacion < 3 %}
                                            src="{{ url_for('static', filename='images/Estrellas/25star.png')}}"                      
                                          {% elif empleado.promedioCalificacion >= 3 and empleado.promedioCalificacion < 3.5 %}
                                            src="{{ url_for('static', filename='images/Estrellas/30star.png')}}"                      
                                          {% elif empleado.promedioCalificacion >= 3.5 and empleado.promedioCalificacion < 4 %}
                                            src="{{ url_for('static', filename='images/Estrellas/35star.png')}}"                      
                                          {% elif empleado.promedioCalificacion >= 4 and empleado.promedioCalificacion < 4.5 %}
                                            src="{{ url_for('static', filename='images/Estrellas/40star.png')}}"                      
                                          {% elif empleado.promedioCalificacion >= 4.5 and empleado.promedioCalificacion < 5 %}
                                            src="{{ url_for('static', filename='images/Estrellas/45star.png')}}"    
                                          {% elif empleado.promedioCalificacion == 5 %}
                                            src="{{ url_for('static', filename='images/Estrellas/50star.png')}}"
                                          {% endif %}
                                          alt="" width="188" height="41">
                                          <p style="font-size: 0.8em important; text-align: center important;">
                                            De {{calEmpleado['cantEmpleadores']}}
                                            {% if calEmpleado['cantEmpleadores'] == 1 %}
                                            calificante
                                            {% else %}
                                            calificantes
                                            {% endif %}
                                            por {{calEmpleado['cantVinculos']}} 
                                            {% if calEmpleado['cantVinculos'] == 1 %}
                                            vínculo
                                            {% else %}
                                            vínculos
                                            {% endif %}
                                          </p>
                                      {% else %}
                                      <p class="mt-4 mb-4">Sin calificaciones aún.</p>
                                      {% endif %}
                                    
                                    <a class="btn btn-sm btn-success float-right"
                                        href="/VistaPerfilContratado/Empleado/{{empleado.id}}" aria-label="" style="margin:5px;">Ir al
                                        Perfil</a>
                                </div>
                            </div>

                            {% endif %}

                        </div>

                    </div>

                </div>
            </div>
<!------------------------------------------------------------------------------------------------------------------------------------->


<!---------------------------------------------------------tarjeta empleado mobile---------------------------------------------------------------------------->
<div class="card_mobile">
    <h1 class="display-6 mb-5">
        {% if user == 'Empleador' %}
        Datos del empleado:
        {% else %}
        Datos del empleador:
        {% endif %}
    </h1>


    <div class="row mb-5">
        <div class="card" >
            <div class="row no-gutters">

                {% if user == 'Empleado' %}
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename=empleador.foto)}}" class="card-img" alt="..." style="margin: 3px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <br>
                        <h5 class="card-title">{{empleador.nombre}} {{empleador.apellido}}</h5>
                        <p class="card-text">
                            Registro en el BPS: 
                            {% if empleador.registroBps == '' or empleador.registroBps == '0'%}No{% else %}Si{% endif %}</p>
                            {% if empleador.promedioCalificacion %}
                            <img class="mt-4 mb-4" style="margin-bottom: 0.3rem !important;"
                              {% if empleador.promedioCalificacion < 1 %}
                                src="{{ url_for('static', filename='images/Estrellas/05star.png')}}"
                              {% elif empleador.promedioCalificacion >= 1 and empleador.promedioCalificacion < 1.5 %}
                                src="{{ url_for('static', filename='images/Estrellas/10star.png')}}"
                              {% elif empleador.promedioCalificacion >= 1.5 and empleador.promedioCalificacion < 2 %}
                                src="{{ url_for('static', filename='images/Estrellas/15star.png')}}"
                              {% elif empleador.promedioCalificacion >= 2 and empleador.promedioCalificacion < 2.5 %}
                                src="{{ url_for('static', filename='images/Estrellas/20star.png')}}"                      
                              {% elif empleador.promedioCalificacion >= 2.5 and empleador.promedioCalificacion < 3 %}
                                src="{{ url_for('static', filename='images/Estrellas/25star.png')}}"                      
                              {% elif empleador.promedioCalificacion >= 3 and empleador.promedioCalificacion < 3.5 %}
                                src="{{ url_for('static', filename='images/Estrellas/30star.png')}}"                      
                              {% elif empleador.promedioCalificacion >= 3.5 and empleador.promedioCalificacion < 4 %}
                                src="{{ url_for('static', filename='images/Estrellas/35star.png')}}"                      
                              {% elif empleador.promedioCalificacion >= 4 and empleador.promedioCalificacion < 4.5 %}
                                src="{{ url_for('static', filename='images/Estrellas/40star.png')}}"                      
                              {% elif empleador.promedioCalificacion >= 4.5 and empleador.promedioCalificacion < 5 %}
                                src="{{ url_for('static', filename='images/Estrellas/45star.png')}}"    
                              {% elif empleador.promedioCalificacion == 5 %}
                                src="{{ url_for('static', filename='images/Estrellas/50star.png')}}"
                              {% endif %}
                              alt="" width="188" height="41">
                              <p style="font-size: 0.8em important; text-align: center important;">
                                De {{calEmpleador['cantEmpleados']}}
                                {% if calEmpleador['cantEmpleados'] == 1 %}
                                calificante
                                {% else %}
                                calificantes
                                {% endif %}
                                por {{calEmpleador['cantVinculos']}} 
                                {% if calEmpleador['cantVinculos'] == 1 %}
                                vínculo
                                {% else %}
                                vínculos
                                {% endif %}
                              </p>
                          {% else %}
                          <p class="mt-4 mb-4">Sin calificaciones aún.</p>
                          {% endif %}

                        </p>
                    </div>
                </div>
                {% elif user == 'Empleador' %}
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename=empleado.foto)}}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{empleado.nombre}} {{empleado.apellido}}</h5>
                        <p class="card-text">
                            Meses de experiencia: {{empleado.experiencia_meses}}</p>
                            {% if empleado.promedioCalificacion %}
                            <img class="mt-4 mb-4" style="margin-bottom: 0.3rem !important;"
                              {% if empleado.promedioCalificacion < 1 %}
                                src="{{ url_for('static', filename='images/Estrellas/05star.png')}}"
                              {% elif empleado.promedioCalificacion >= 1 and empleado.promedioCalificacion < 1.5 %}
                                src="{{ url_for('static', filename='images/Estrellas/10star.png')}}"
                              {% elif empleado.promedioCalificacion >= 1.5 and empleado.promedioCalificacion < 2 %}
                                src="{{ url_for('static', filename='images/Estrellas/15star.png')}}"
                              {% elif empleado.promedioCalificacion >= 2 and empleado.promedioCalificacion < 2.5 %}
                                src="{{ url_for('static', filename='images/Estrellas/20star.png')}}"                      
                              {% elif empleado.promedioCalificacion >= 2.5 and empleado.promedioCalificacion < 3 %}
                                src="{{ url_for('static', filename='images/Estrellas/25star.png')}}"                      
                              {% elif empleado.promedioCalificacion >= 3 and empleado.promedioCalificacion < 3.5 %}
                                src="{{ url_for('static', filename='images/Estrellas/30star.png')}}"                      
                              {% elif empleado.promedioCalificacion >= 3.5 and empleado.promedioCalificacion < 4 %}
                                src="{{ url_for('static', filename='images/Estrellas/35star.png')}}"                      
                              {% elif empleado.promedioCalificacion >= 4 and empleado.promedioCalificacion < 4.5 %}
                                src="{{ url_for('static', filename='images/Estrellas/40star.png')}}"                      
                              {% elif empleado.promedioCalificacion >= 4.5 and empleado.promedioCalificacion < 5 %}
                                src="{{ url_for('static', filename='images/Estrellas/45star.png')}}"    
                              {% elif empleado.promedioCalificacion == 5 %}
                                src="{{ url_for('static', filename='images/Estrellas/50star.png')}}"
                              {% endif %}
                              alt="" width="188" height="41">
                              <p style="font-size: 0.8em important; text-align: center important;">
                                De {{calEmpleado['cantEmpleadores']}}
                                {% if calEmpleado['cantEmpleadores'] == 1 %}
                                calificante
                                {% else %}
                                calificantes
                                {% endif %}
                                por {{calEmpleado['cantVinculos']}} 
                                {% if calEmpleado['cantVinculos'] == 1 %}
                                vínculo
                                {% else %}
                                vínculos
                                {% endif %}
                              </p>
                          {% else %}
                          <p class="mt-4 mb-4">Sin calificaciones aún.</p>
                          {% endif %}
                        
                        <a class="btn btn-sm btn-success float-right"
                            href="/VistaPerfilContratado/Empleado/{{empleado.id}}" aria-label="" style="margin:5px;">Ir al
                            Perfil</a>
                    </div>
                </div>

                {% endif %}

            </div>

        </div>

    </div>
</div>
<!------------------------------------------------------------------------------------------------------------------------------------->





<hr class="mt-5 mb-5">
                <br>
                {% if extension > 90 or vinculo.fecha_fin %}
                {% if user == 'Empleador'  %}
                    <h3 class="display-6 mb-5">¿Cómo calificas este vínculo con {{empleado.nombre}}?</h3>

                {% elif user == 'Empleado' %}
                    <h1 class="display-6 mb-5">¿Cómo calificas este vínculo con {{empleador.nombre}}?</h1>
                {% endif %}


 <!------------------------------------------------------------------------------------------------------------------------------------------>
   
                <form action="/calVinculo/{{vinculo.id}}/" method="POST" name="cal" onsubmit="return validateForm()">
                    <div class="form-group">
                        <div class="star-rating">
                            <input id="star-5" type="radio" name="rating" value="5" 
                            {% if user == 'Empleador'  %}
                                {% if vinculo.calif_empleado == 5 %}
                                    checked=''
                                {% endif %}
                            {% elif user == 'Empleado' %}
                                {% if vinculo.calif_empleador == 5 %}
                                    checked=''
                                {% endif %} 
                            {% endif %}                               
                             />
                            <label for="star-5" title="5 estrellas">
                              <i class="active fa fa-star" aria-hidden="true"></i>
                            </label>
                      
                            <input id="star-4" type="radio" name="rating" value="4" 
                            {% if user == 'Empleador'  %}
                                {% if vinculo.calif_empleado == 4 %}
                                    checked=''
                                {% endif %}
                            {% elif user == 'Empleado' %}
                                {% if vinculo.calif_empleador == 4 %}
                                    checked=''
                                {% endif %} 
                            {% endif %}                               
                             />
                            <label for="star-4" title="4 estrellas">
                              <i class="active fa fa-star" aria-hidden="true"></i>
                            </label>
                      
                            <input id="star-3" type="radio" name="rating" value="3" 
                            {% if user == 'Empleador'  %}
                                {% if vinculo.calif_empleado == 3 %}
                                    checked=''
                                {% endif %}
                            {% elif user == 'Empleado' %}
                                {% if vinculo.calif_empleador == 3 %}
                                    checked=''
                                {% endif %} 
                            {% endif %}                               
                              />
                            <label for="star-3" title="3 estrellas">
                              <i class="active fa fa-star" aria-hidden="true"></i>
                            </label>
                      
                            <input id="star-2" type="radio" name="rating" value="2" 
                            {% if user == 'Empleador'  %}
                                {% if vinculo.calif_empleado == 2 %}
                                    checked=''
                                {% endif %}
                            {% elif user == 'Empleado' %}
                                {% if vinculo.calif_empleador == 2 %}
                                    checked=''
                                {% endif %} 
                            {% endif %}                               
                              />
                            <label for="star-2" title="2 estrellas">
                              <i class="active fa fa-star" aria-hidden="true"></i>
                            </label>
                      
                            <input id="star-1" type="radio" name="rating" value="1" 
                            {% if user == 'Empleador'  %}
                                {% if vinculo.calif_empleado == 1 %}
                                    checked=''
                                {% endif %}
                            {% elif user == 'Empleado' %}
                                {% if vinculo.calif_empleador == 1 %}
                                    checked=''
                                {% endif %} 
                            {% endif %}                               
                               />
                            <label for="star-1" title="1 estrellas">
                              <i class="active fa fa-star" aria-hidden="true"></i>
                            </label>

                          </div>

                    </div>
                
                    <button class="btn btn-success" type="submit" name="btnGuardar">Calificar</button>
                
                </form>
<!------------------------------------------------------------------------------------------------------------------------------------------>
                {% endif %}

                <br>
                <hr class="mt-5 mb-5">
                <br>
                <!--
                {% if postulacion == '0' %}
                <a href="" type="button" class="btn btn-warning float-right">Terminar vínculo</a>
                {% else %}
                <button type="button" class="btn btn-success float-right" disabled></button>
                {% endif %}    -->
                <button type="button" class="btn btn-primary float-left" aria-label="" onClick="history.go(-1)">Volver</button>
                {% if not vinculo.fecha_fin %}
                <a class="btn btn-danger float-right" href="" aria-label=""data-toggle="modal"
                data-target="#modal">FINALIZAR VÍNCULO</a>
                {% endif %}

                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="mensaje"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="exampleModalLabel">Finalizar vínculo</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <h2>¿Cómo califícas este vínculo con 
                                {% if user == 'Empleador' %}
                                    {{empleado.nombre}}
                                {% elif user == 'Empleado' %}
                                    {{empleador.nombre}}
                                {% endif %}
                                 ?</h2>

                            <!------------------------------------------------------------------------------------------------------------------------------------------>
                            
                            <form action="/endVinculo/{{vinculo.id}}/" method="POST" name="cal" onsubmit="return validateForm()">
                                <div class="form-group">
                                    <div class="star-rating2">
                                        <input id="star-52" type="radio" name="rating" value="5" 
                                        {% if user == 'Empleador'  %}
                                            {% if vinculo.calif_empleado == 5 %}
                                                checked=''
                                            {% endif %}
                                        {% elif user == 'Empleado' %}
                                            {% if vinculo.calif_empleador == 5 %}
                                                checked=''
                                            {% endif %} 
                                        {% endif %}                               
                                        />
                                        <label for="star-52" title="5 estrellas">
                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                        </label>
                                
                                        <input id="star-42" type="radio" name="rating" value="4" 
                                        {% if user == 'Empleador'  %}
                                            {% if vinculo.calif_empleado == 4 %}
                                                checked=''
                                            {% endif %}
                                        {% elif user == 'Empleado' %}
                                            {% if vinculo.calif_empleador == 4 %}
                                                checked=''
                                            {% endif %} 
                                        {% endif %}                               
                                        />
                                        <label for="star-42" title="4 estrellas">
                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                        </label>
                                
                                        <input id="star-32" type="radio" name="rating" value="3" 
                                        {% if user == 'Empleador'  %}
                                            {% if vinculo.calif_empleado == 3 %}
                                                checked=''
                                            {% endif %}
                                        {% elif user == 'Empleado' %}
                                            {% if vinculo.calif_empleador == 3 %}
                                                checked=''
                                            {% endif %} 
                                        {% endif %}                               
                                        />
                                        <label for="star-32" title="3 estrellas">
                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                        </label>
                                
                                        <input id="star-22" type="radio" name="rating" value="2" 
                                        {% if user == 'Empleador'  %}
                                            {% if vinculo.calif_empleado == 2 %}
                                                checked=''
                                            {% endif %}
                                        {% elif user == 'Empleado' %}
                                            {% if vinculo.calif_empleador == 2 %}
                                                checked=''
                                            {% endif %} 
                                        {% endif %}                               
                                        />
                                        <label for="star-22" title="2 estrellas">
                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                        </label>
                                
                                        <input id="star-12" type="radio" name="rating" value="1" 
                                        {% if user == 'Empleador'  %}
                                            {% if vinculo.calif_empleado == 1 %}
                                                checked=''
                                            {% endif %}
                                        {% elif user == 'Empleado' %}
                                            {% if vinculo.calif_empleador == 1 %}
                                                checked=''
                                            {% endif %} 
                                        {% endif %}                               
                                        />
                                        <label for="star-12" title="1 estrellas">
                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                        </label>

                                    </div>

                                </div>



                            
                            <!------------------------------------------------------------------------------------------------------------------------------------------>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger float-right" type="submit" name="btnGuardar">Finalizar vínculo</button>
                        </form>
                        </div>
                <br>

            
        </div>
    </div>
</div>
<br><br><br>
<br>
<hr class="mt-5 mb-5">
<br><br><br><br><br><br>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
