{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Ver anuncio{% endblock %}

{% block contenido %}
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5 mb-5">Vínculo</h1>

            <form>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Inicio del vínculo:</label>
                    <div class="col-sm-5">
                        <label class="col-form-label">{{vinculo.fecha_inicio}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Fin del vínculo:</label>
                    <div class="col-sm-5">
                        <label class="col-form-label">
                            {% if vinculo.fecha_fin == None %}
                            Vínculo actualmente activo
                            {% else %}
                            {{vinculo.fecha_fin}}
                            {% endif %}
                        </label>
                    </div>
                </div>

                <hr class="mt-5 mb-5">

                <div class="d-block my-3 mt-5">
                    <p>Tipo trabajo</p>
                    <div class="custom-control custom-radio">
                        <input id="dispHora" name="disponibilidad" type="radio" class="custom-control-input" required=""
                            {% if anuncio.disponibilidad == 1%} checked="" {%else%} disabled {% endif %}>
                        <label class="custom-control-label" for="dispHora">Por hora</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="dispJorn" name="disponibilidad" type="radio" class="custom-control-input" required=""
                            {% if anuncio.disponibilidad == 2%} checked="" {%else%} disabled {% endif %}>
                        <label class="custom-control-label" for="dispJorn">Por jornada</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="dispTarea" name="disponibilidad" type="radio" class="custom-control-input"
                            required="" {% if anuncio.disponibilidad == 3%} checked="" {%else%} disabled {% endif %}>
                        <label class="custom-control-label" for="dispTarea">Por tarea puntual</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="dispMes" name="disponibilidad" type="radio" class="custom-control-input" required=""
                            {% if  anuncio.disponibilidad == 4%} checked="" {%else%} disabled {% endif %}>
                        <label class="custom-control-label" for="dispMes">Por mes</label>
                    </div>
                </div>

                <div class="d-block my-3 mt-5">
                    <p>Tareas realizadas:</p>
                    <div class="custom-control">
                        <input id="tareaHogar" name="tareaHogar" type="checkbox" class="custom-control-input"
                            {% if anuncio.hogar == True %} checked="" {% else %} disabled {% endif %}>
                        <label class="custom-control-label" for="tareaHogar">Hogar</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaOficina" name="tareaOficina" type="checkbox" class="custom-control-input"
                            {% if anuncio.oficina == True %} checked="" {% else %} disabled {% endif %}>
                        <label class="custom-control-label" for="tareaOficina">Oficina</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaCocina" name="tareaCocina" type="checkbox" class="custom-control-input"
                            {% if anuncio.cocinar == True %} checked="" {% else %} disabled {% endif %}>
                        <label class="custom-control-label" for="tareaCocina">Cocinar</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaLimpBañ" name="tareaLimpBañ" type="checkbox" class="custom-control-input"
                            {% if anuncio.limp_banios == True %} checked="" {% else %} disabled {% endif %}>
                        <label class="custom-control-label" for="tareaLimpBañ">Limpieza de baños</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaLimpCoc" name="tareaLimpCoc" type="checkbox" class="custom-control-input"
                            {% if anuncio.limp_cocinas == True %} checked="" {% else %} disabled {% endif %}>
                        <label class="custom-control-label" for="tareaLimpCoc">Limpieza de cocina</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaLimpDor" name="tareaLimpDor" type="checkbox" class="custom-control-input"
                            {% if anuncio.limp_dormitorios == True %} checked="" {% else %} disabled {% endif %}>
                        <label class="custom-control-label" for="tareaLimpDor">Limpieza de dormitorio</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaCuidNiño" name="tareaCuidNiño" type="checkbox" class="custom-control-input"
                            {% if anuncio.cuidado_ninios == True %} checked="" {% else %} disabled {% endif %}>
                        <label class="custom-control-label" for="tareaCuidNiño">Cuidado de niños</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaCuidBebe" name="tareaCuidBebe" type="checkbox" class="custom-control-input"
                            {% if anuncio.cuidado_bebes == True %} checked="" {% else %} disabled {% endif %}>
                        <label class="custom-control-label" for="tareaCuidBebe">Cuidado de bebes</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaCuidAdulto" name="tareaCuidAdulto" type="checkbox" class="custom-control-input"
                            {% if anuncio.cuidado_adultos == True %} checked="" {% else %} disabled {% endif %}>
                        <label class="custom-control-label" for="tareaCuidAdulto">Adultos mayores</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaCuidMasc" name="tareaCuidMasc" type="checkbox" class="custom-control-input"
                            {% if anuncio.cuidado_mascotas == True %} checked="" {% else %} disabled {% endif %}>
                        <label class="custom-control-label" for="tareaCuidMasc">Cuidado de mascotas</label>
                    </div>
                </div>

                <hr class="mt-5 mb-5">

                <h1 class="display-6 mb-5">
                    {% if user == 'Empleador' %}
                    Datos del empleado:
                    {% else %}
                    Datos del empleador:
                    {% endif %}
                </h1>
                <div class="row mb-5">
                    <div class="card ml-5 mr-3 mb-3" style="max-width: 550px; min-width: 550px;">
                        <div class="row no-gutters">

                            {% if user == 'Empleado' %}
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename=empleador.foto)}}" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <br>
                                    <h5 class="card-title">{{empleador.nombre}} {{empleador.apellido}}</h5>
                                    <p class="card-text">

                                    </p>
                                </div>
                            </div>
                            {% elif user == 'Empleador' %}
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename=empleado.foto)}}" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{empleado.nombre}} {{empleado.apellido}}</h5>
                                    <p class="card-text">
                                        Meses de experiencia: {{empleado.experiencia_meses}}<br>
                                        Promedio de calificación: {{empleado.promedioCalificacion}}
                                    </p>
                                    <a class="btn btn-sm btn-success float-right"
                                        href="/VistaPerfilContratado/Empleado/{{empleado.id}}" aria-label="">Ir al
                                        Perfil</a>
                                </div>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <!--
                {% if postulacion == '0' %}
                <a href="" type="button" class="btn btn-warning float-right">Terminar vínculo</a>
                {% else %}
                <button type="button" class="btn btn-success float-right" disabled></button>
                {% endif %}    -->
                <button type="button" class="btn btn-primary btn-block" onClick="history.go(-1)">Volver</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}