{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Perfil{% endblock %}

{% block contenido %}
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">

      <div class="text-center mb-5 in-line">

        <!--<h1 class="display-5 mb-5">Perfil</h1>-->
        <a class="my-0 mr-md-auto" href="" aria-label="Home">
          <img class="mb-4" src="{{ url_for('static', filename=data.foto)}}" alt="" width="125" height="125">
        </a>
      </div>

      <form class="needs-validation" novalidate="" action="" method="POST">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre"
              value="{{data.nombre}}" required="" readonly>
            <div class="invalid-feedback">
              Se requiere un Nombre válido.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" name="apellido" id="apelido" placeholder="Apellido"
              value="{{data.apellido}}" required="" readonly>
            <div class="invalid-feedback">
              Se requiere un Apellido válido.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="ci">Cédula de identidad</label>
            <input type="text" class="form-control" name="cedula" id="cedula" placeholder="50726621" required=""
              value="{{data.cedula}}" readonly>
            <div class="invalid-feedback">
              Por favor seleccione una CI válida.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="nacionalidad">Nacionalidad</label>
            <input type="text" class="form-control" name="nacionalidad" id="nacionalidad" placeholder="Uruguayo"
              value="{{data.nacionalidad}}" readonly>
          </div>
        </div>
        
        <div class="d-block my-3">
            <p>Género</p>
            <div class="custom-control custom-radio">
                <input id="genderF" name="genero" type="radio" class="custom-control-input" required="" disabled value="0" {% if data.genero == 0 %} checked {% endif %}>
                <label class="custom-control-label" for="genderF">Femenino</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="genderM" name="genero" type="radio" class="custom-control-input" required="" disabled value="1" {% if data.genero == 1 %} checked {% endif %}>
                <label class="custom-control-label" for="genderM">Masculino</label>
            </div>
        </div>

        <div class="mb-3">
          <label for="birthdate">Fecha de nacimiento</label>
          <input type="date" class="form-control col-sm-3" name="cumple" id="cumple" value="{{data.nacimiento}}"
            required="" readonly>
          <div class="invalid-feedback">
            Por favor seleccione una Fecha de nacimiento válida.
          </div>
        </div>

        {% if tipo == 'Empleado' %}
        <hr class="mt-5 mb-5">
        <div class="d-block my-3">
            <p>¿Tiene experiencia en el rubro?</p>

            <div class="custom-control custom-radio">
                <input id="experienciaSi" name="experiencia" type="radio" class="custom-control-input" disabled required="" value="1" {% if data.experiencia_meses is not none or data.experiencia_meses != 0 %} checked {% endif %}>
                <label class="custom-control-label" for="experienciaSi">Si</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="experienciaNo" name="experiencia" type="radio" class="custom-control-input" disabled required="" value="0" {% if data.experiencia_meses is none or data.experiencia_meses == 0 %} checked {% endif %}>
                <label class="custom-control-label" for="experienciaNo">No</label>
            </div>

        </div>

        <div class="mb-3">
            <label for="mesesExperiencia">Meses de experiencia</label>
            <input type="text" class="form-control col-sm-2" name="mesesExperiencia" id="mesesExperiencia"
                    placeholder="0" disabled value="{{data.experiencia_meses}}">
            <div class="invalid-feedback">
                Por favor seleccione una cantidad de meses válida.
            </div>
        </div>

        <div class="d-block my-3">
            <p>Disponibilidad</p>
            {% for disp in aux.disponibilidad %}
            <div class="custom-control custom-checkbox">
                <input id="disp{{ disp.id}}" name="disp{{ disp.id }}" type="checkbox"
                        class="custom-control-input" disabled {% if disp.seleccionada == 1 %} checked {% endif %}>
                <label class="custom-control-label" for="disp{{ disp.id }}">{{ disp.descripcion }}</label>
            </div>
            {% endfor %}
        </div>

        <div class="d-block my-3">
            <p>Tareas que realizas</p>
            {% for tarea in aux.tareas %}
            <div class="custom-control custom-checkbox">
                <input id="tarea{{ tarea.id }}" name="tarea{{ tarea.id }}" type="checkbox"
                        class="custom-control-input" disabled {% if tarea.seleccionada == 1 %} checked {% endif %}>
                <label class="custom-control-label" for="tarea{{ tarea.id }}">{{ tarea.descripcion }}</label>
            </div>
            {% endfor %}
        </div>

        <hr class="mt-5 mb-5">

        <h5>Los empleadores te invitarán a pasar a su casa <br>
          ¡cuentales algo sobre tí, así comienzan a conocerte!</h5>
        <textarea name="presentacion" rows="10" cols="65" placeholder="" disabled>{{data.descripcion}}</textarea>

        <hr class="mt-5 mb-5">

        {% elif tipo == 'Empleador' %}
        <hr class="mt-5 mb-5">
        <div class="d-block my-3">
          <p>¿Estás registrad@ como empleador/a en el BPS?</p>
          <div class="custom-control custom-radio">
            <input id="bpsSi" name="bps" type="radio" class="custom-control-input" checked="" required="" disabled>
            <label class="custom-control-label" for="bpsSi">Si</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="bpsNo" name="bps" type="radio" class="custom-control-input" required="" disabled>
            <label class="custom-control-label" for="bpsNo">No</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="empleadorNumRegBPS">Número de registro</label>
          <input type="text" class="form-control col-sm-5" name="empleadorNumRegBPS" id="empleadorNumRegBPS"
            placeholder="679102987" disabled>
          <div class="invalid-feedback">
            Por favor seleccione un Número de registro válido.
          </div>
        </div>

        <hr class="mt-5 mb-5">
        {% endif %}

        {% if not data.referencias %}
        <div class="row mb-5">
            <button type="button" class="btn btn-secondary btn-block" disabled><h5>No tiene ninguna referencia registrada hasta el momento</h5></button>
        </div>     
        {% else %}
        <button type="button" class="btn btn-secondary btn-block" disabled><h5>Referencias laborales</h5></button>
        <div class="mt-1 mb-5">
            <table class="table table-bordered table bg-white">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Teléfono</td>
                        <td>Desde</td>
                        <td>Hasta</td>
                    </tr>
                </thead>
                <tbody>
                    {% for referencia in data.referencias %}
                    <tr>
                        <td>{{referencia.nombre}}</td>
                        <td>{{referencia.apellido}}</td>
                        <td>{{referencia.telefono}}</td>
                        <td>{{referencia.fechaDesde}}</td>
                        <td>{{referencia.fechaHasta}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        <hr class="mt-5 mb-5">

        <p class="mt-5 mb-2">
        <button type="button" class="btn btn-primary btn-block float-right" onClick="history.go(-1)">Volver</button>
        <br>
        </p>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}