{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Perfil{% endblock %}

{% block contenido %}
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">

      <div class="text-center mb-5 in-line">

        <!--<h1 class="display-5 mb-5">Perfil</h1>-->
        <a class="my-0 mr-md-auto" href="" aria-label="Home">
          <img class="mb-4" src="{{ url_for('static', filename=data.foto)}}" alt="" width="125" height="125">
        </a>
      </div>

      <form class="needs-validation" novalidate="" action="" method="POST">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre"
              value="{{data.nombre}}" required="" readonly>
            <div class="invalid-feedback">
              Se requiere un Nombre válido.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" name="apellido" id="apelido" placeholder="Apellido"
              value="{{data.apellido}}" required="" readonly>
            <div class="invalid-feedback">
              Se requiere un Apellido válido.
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="ci">Cédula de identidad</label>
            <input type="text" class="form-control" name="cedula" id="cedula" placeholder="50726621" required=""
              value="{{data.cedula}}" readonly>
            <div class="invalid-feedback">
              Por favor seleccione una CI válida.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="nacionalidad">Nacionalidad</label>
            <input type="text" class="form-control" name="nacionalidad" id="nacionalidad" placeholder="Uruguayo"
              value="{{data.nacionalidad}}" readonly>
          </div>
        </div>

        <div class="d-block my-3">
          <p>Género</p>
          <div class="custom-control custom-radio">
            <input id="genderF" name="genero" type="radio" class="custom-control-input" checked="" required="" disabled>
            <label class="custom-control-label" for="genderF">Femenino</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="genderM" name="genero" type="radio" class="custom-control-input" required="" disabled>
            <label class="custom-control-label" for="genderM">Masculino</label>
          </div>
        </div>

        <div class="mb-3">
          <label for="birthdate">Fecha de nacimiento</label>
          <input type="date" class="form-control col-sm-3" name="cumple" id="cumple" value="{{data.nacimiento}}"
            required="" readonly>
          <div class="invalid-feedback">
            Por favor seleccione una Fecha de nacimiento válida.
          </div>
        </div>

        {% if tipo == 'Empleado' %}
        <hr class="mt-5 mb-5">
        <div class="d-block my-3">
          <p>¿Tiene experiencia en el rubro?</p>
          {% if data.experiencia_meses is none or data.experiencia_meses == 0 %}
          <div class="custom-control custom-radio">
            <input name="experiencia" type="radio" class="custom-control-input" required="" disabled>
            <label class="custom-control-label" for="experienciaSi">Si</label>
          </div>
          <div class="custom-control custom-radio">
            <input name="experiencia" type="radio" class="custom-control-input" checked="" required="" disabled>
            <label class="custom-control-label" for="experienciaNo">No</label>
          </div>
          {% else %}
          <div class="custom-control custom-radio">
            <input name="experiencia" type="radio" class="custom-control-input" checked="" required="" disabled>
            <label class="custom-control-label" for="experienciaSi">Si</label>
          </div>
          <div class="custom-control custom-radio">
            <input name="experiencia" type="radio" class="custom-control-input" required="" disabled>
            <label class="custom-control-label" for="experienciaNo">No</label>
          </div>
          {% endif %}
        </div>

        <div class="d-block my-3">
          <p>Disponibilidad</p>
          <div class="custom-control custom-checkbox">
            <input id="dispHora" name="tareaHogar" type="checkbox" class="custom-control-input" disabled>
            <label class="custom-control-label" for="dispHora">Por hora</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input id="dispJorn" name="tareaOficina" type="checkbox" class="custom-control-input" disabled>
            <label class="custom-control-label" for="dispJorn">Por jornada</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input id="dispTarea" name="tareaCocina" type="checkbox" class="custom-control-input" disabled>
            <label class="custom-control-label" for="dispTarea">Por tarea puntual</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input id="dispMes" name="tareaLimpBañ" type="checkbox" class="custom-control-input" disabled>
            <label class="custom-control-label" for="dispMes">Por mes</label>
          </div>
        </div>

        <div class="d-block my-3">
          <p>Tareas que realizas</p>
          <div class="custom-control custom-checkbox">
            <input id="tareaHogar" name="tareaHogar" type="checkbox" class="custom-control-input" disabled>
            <label class="custom-control-label" for="tareaHogar">Hogar</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input id="tareaOficina" name="tareaOficina" type="checkbox" class="custom-control-input" disabled>
            <label class="custom-control-label" for="tareaOficina">Oficina</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input id="tareaCocina" name="tareaCocina" type="checkbox" class="custom-control-input" disabled>
            <label class="custom-control-label" for="tareaCocina">Cocinar</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input id="tareaLimpBañ" name="tareaLimpBañ" type="checkbox" class="custom-control-input" disabled>
            <label class="custom-control-label" for="tareaLimpBañ">Limpieza de baños</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input id="tareaLimpCoc" name="tareaLimpCoc" type="checkbox" class="custom-control-input" disabled>
            <label class="custom-control-label" for="tareaLimpCoc">Limpieza de cocina</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input id="tareaLimpDor" name="tareaLimpDor" type="checkbox" class="custom-control-input" disabled>
            <label class="custom-control-label" for="tareaLimpDor">Limpieza de dormitorio</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input id="tareaCuidNiño" name="tareaCuidNiño" type="checkbox" class="custom-control-input" disabled>
            <label class="custom-control-label" for="tareaCuidNiño">Cuidado de niños</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input id="tareaCuidBebe" name="tareaCuidBebe" type="checkbox" class="custom-control-input" disabled>
            <label class="custom-control-label" for="tareaCuidBebe">Cuidado de bebes</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input id="tareaCuidAdulto" name="tareaCuidAdulto" type="checkbox" class="custom-control-input" disabled>
            <label class="custom-control-label" for="tareaCuidAdulto">Adultos mayores</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input id="tareaCuidMasc" name="tareaCuidMasc" type="checkbox" class="custom-control-input" disabled>
            <label class="custom-control-label" for="tareaCuidMasc">Cuidado de mascotas</label>
          </div>
        </div>

        <hr class="mt-5 mb-5">

        <h5>Los empleadores te invitarán a pasar a su casa <br>
          ¡cuentales algo sobre tí, así comienzan a conocerte!</h5>
        <textarea name="presentacion" rows="10" cols="65" placeholder="Escribe aqui..." disabled></textarea>

        <hr class="mt-5 mb-5">

        {% elif tipo == 'Empleador' %}
        <hr class="mt-5 mb-5">
        <div class="d-block my-3">
          <p>¿Estás registrad@ como empleador/a en el BPS?</p>
          <div class="custom-control custom-radio">
            <input id="bpsSi" name="bps" type="radio" class="custom-control-input" checked="" required="" disabled>
            <label class="custom-control-label" for="bpsSi">Si</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="bpsNo" name="bps" type="radio" class="custom-control-input" required="" disabled>
            <label class="custom-control-label" for="bpsNo">No</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="empleadorNumRegBPS">Número de registro</label>
          <input type="text" class="form-control col-sm-5" name="empleadorNumRegBPS" id="empleadorNumRegBPS"
            placeholder="679102987" disabled>
          <div class="invalid-feedback">
            Por favor seleccione un Número de registro válido.
          </div>
        </div>

        <hr class="mt-5 mb-5">
        {% endif %}

        <div class="card mb-5" style="min-width: 500px;">
          <div class="row no-gutters">
            <div class="col-md-15">
              <div class="card-body">
                <a class="btn btn btn-primary float-left mr-3" href="/Mensajes" aria-label="">Enviar Mensaje</a>
                <p class="card-text">
                  <small class="text-muted">
                    Si lo deseas, puedes enviar mensaje a <strong><i>{{data.nombre}} {{data.apellido}}</i></strong>
                    para hacerle algunas especificaciones del empleo, para evacuar dudas sobre días,
                    horarios o cualquier aspecto relacionado con las tareas a desarrollar. <br>
                    <strong><i>{{data.nombre}}</i></strong> podrá responderte y serás notificado en tu área personal de
                    mensajes.
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <p class="mt-5 pb-5"><a class="btn btn-lg btn-success float-right" href="/Contratar/{{data.id}}"
            aria-label="">Realizar
            Contratación</a></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}