{% extends 'page_layout.html' %}

{% block referencias %}
{% endblock %}

{% block estilo %}
{% endblock %}

{% block titulo %}Labores - Visualización de perfil {% endblock %}

{% block contenido %}
<!-- Visualizacion del perfil de la empleada desde el perfil del empleador-->

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5 mb-5">Nombre Apellido</h1>
            <form action="..." method="POST">
                <div class="media rounded float-left">
                    <img src="{{ url_for('static', filename='images/Perfil-visual.png')}}"
                    width="160px"
                    height="160px">
                    <div class="media-body mx-3">
                        <h5 class="mt-2">Breve descripción:</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                        purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                        vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>


                <!--bloque de estrellas-->
                <div class="col-auto my-2 ">
                    <img src="{{url_for('static', filename='images/iconfinder_star_285661.svg')}}" width="40px"
                        height="40px" , data-value="1" title="Votar con 1 estrellas">
                    <img src="{{url_for('static', filename='images/iconfinder_star_285661.svg')}}" width="40px"
                        height="40px" , data-value="2" title="Votar con 2 estrellas">
                    <img src="{{url_for('static', filename='images/iconfinder_star_285661.svg')}}" width="40px"
                        height="40px" , data-value="3" title="Votar con 3 estrellas">
                    <img src="{{url_for('static', filename='images/iconfinder_star_285661.svg')}}" width="40px"
                        height="40px" , data-value="4" title="Votar con 4 estrellas">
                    <img src="{{url_for('static', filename='images/iconfinder_star_285661.svg')}}" width="40px"
                        height="40px" , data-value="5" title="Votar con 5 estrellas">
                </div>


                <dl class="row">
                    <dt class="col-sm-3">Edad</dt>
                    <dd class="col-sm-9">30</dd>

                    <dt class="col-sm-3">Domicilio</dt>
                    <dd class="col-sm-9">P. Sherman Calle Wallaby 42, Sydney</dd>


                    <dt class="col-sm-3">Nacionalidad</dt>
                    <dd class="col-sm-9">Uruguaya</dd>
                </dl>

                <div class="d-block my-3">
                    <p>Disponibilidad</p>
                    <div class="custom-control custom-radio">
                        <input id="dispHora" name="disponibilidad" type="radio" class="custom-control-input" checked=""
                            required="">
                        <label class="custom-control-label" for="dispHora">Por hora</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="dispJorn" name="disponibilidad" type="radio" class="custom-control-input"
                            required="">
                        <label class="custom-control-label" for="dispJorn">Por jornada</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="dispTarea" name="disponibilidad" type="radio" class="custom-control-input"
                            required="">
                        <label class="custom-control-label" for="dispTarea">Por tarea puntual</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="dispMes" name="disponibilidad" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="dispMes">Por mes</label>
                    </div>
                </div>

                <div class="d-block my-3">
                    <p>Tareas que realizas:</p>
                    <div class="custom-control">
                        <input id="tareaHogar" name="tareaHogar" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="tareaHogar">Hogar</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaOficina" name="tareaOficina" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="tareaOficina">Oficina</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaCocina" name="tareaCocina" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="tareaCocina">Cocinar</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaLimpBañ" name="tareaLimpBañ" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="tareaLimpBañ">Limpieza de baños</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaLimpCoc" name="tareaLimpCoc" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="tareaLimpCoc">Limpieza de cocina</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaLimpDor" name="tareaLimpDor" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="tareaLimpDor">Limpieza de dormitorio</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaCuidNiño" name="tareaCuidNiño" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="tareaCuidNiño">Cuidado de niños</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaCuidBebe" name="tareaCuidBebe" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="tareaCuidBebe">Cuidado de bebes</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaCuidAdulto" name="tareaCuidAdulto" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="tareaCuidAdulto">Adultos mayores</label>
                    </div>
                    <div class="custom-control">
                        <input id="tareaCuidMasc" name="tareaCuidMasc" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="tareaCuidMasc">Cuidado de mascotas</label>
                    </div>
                </div>
                
                <dl class="row">
                    <dt class="col-sm-4">Experiencia en el rubro:</dt>
                    <dd class="col-sm-8">Si</dd>

                <h6 class="my-4 px-2">Referencias</h6>
                    <div class="container my-2 px-2" style="border:3px solid #3397f5; border-radius: 20px;"> 
                        <p>Bla bla</p><br>
                        <p>Bla bla</p><br>
                        <p>Bla bla</p></dl></div>
                        <div class="container my-2 px-2" style="border:3px solid #3397f5; border-radius: 20px;"> 
                            <p>Bla bla</p><br>
                            <p>Bla bla</p><br>
                            <p>Bla bla</p></div>
                            <div class="container ">
                                <button class="btn btn-info btn-responsive btninter centrado">Mensaje</button>
                                <button class="btn btn-success btn-responsive btn-success right ">Contratar</button>
                            </div>
        </div>
        </form>
        </div>
</div>
</div>

{% endblock %}